[2022-02-10 12:38] Zimmi48 commented on #216
Is this really true? It used to be the case that you could still run an unsigned macOS application (by right-clicking and clicking Open, something that is anyway needed today on recent macOS versions because the application is not notarized).

[2022-02-10 13:01] LasseBlaauwbroek commented on #216
Thanks @gares, I'll try this out. It may be useful to document this process in the platform readme.

[2022-02-10 13:29] Blaisorblade commented on #217
Which OS version? I experienced https://github.com/coq/coq/issues/15486#issuecomment-1034880229 when compiling from sources via opam, but (I think) only on macOS >= 11.0: I know all the crashes are on such macs, and I _think_ they didn't happen before I upgraded (but I don't have older OSes around, and I don't know _exactly_ when I last opened preferences before the upgrade).

[2022-02-10 13:51] MSoegtropIMC commented on #217
@Blaisorblade : for me it works fine with compiled from sources on macOS 11.6.2. It does not work using the DMG package. Which OS do you have?

[2022-02-10 16:42] Blaisorblade commented on #217
It was a while ago but I saw this on macOS 11 on x64 and macOS 12.2 on ARM.

[2022-02-10 17:18] Blaisorblade commented on #217
Actually, reinstalling now in case this got fixed upstream

[2022-02-10 17:28] MSoegtropIMC commented on #217
Is it possible that you mix "compile from sources" and DMG install in your memory?

What is understandable is that it does not work with DMG on macOS >= 11.0 cause or access restrictions to the settings file.

If it does not work with "compile from sources" I would consider this a bug in CoqIDE and not in Coq Platform.

[2022-02-10 17:41] Blaisorblade commented on #217
I never use DMGs, and I agree the bug is unlikely to be in the platform. If this got fixed in some package (my conjecture) — say lablgtk, maybe the platform could forbid the buggy versions.

[2022-02-10 18:12] Blaisorblade commented on #217
Homebrew upgrade didn't help. My `.opam` is in my home but I have used `_opam` folders (from `opam sw link`, not local switches), but if the question is about permissions and sandboxing maybe there's something I can try.

I can open files, but CoqIDE doesn't use Apple's permission-granting dialog so it might not help?

[2022-02-10 18:39] MSoegtropIMC commented on #217
With the compile from sources CoqIDE in $home/.opam I can access my documents folder without any dialog ever showing up (on macOS 11.6.2).

With the identical DMG version I can't.

I guess there is something like Windows ProcMon on macOS, so that one can record system calls - this way it should be possible to find out if you get access denied errors on some files.

If you think it is a macOS 11 vs

[2022-02-10 18:46] MSoegtropIMC commented on #217
Btw.: it might be an opam version thing. MacPorts e.g. (afaik) does some tricks to mark the executables in its folders as "safe to use" - afaik there is some file system setting for this. Maybe opam does something similar on macOS and it depends on the opam version. I have opam "2.1.0".

Please also not that some of the OS specific scripts which come with opam (e.g. the sandbox scripts) are **not

[2022-02-11 02:05] Blaisorblade commented on #217
My conjecture is that this is a change from macOS 10 to 11, but there are clearly more ingredients at play.

[2022-02-14 10:10] commit-dkp commented on #217
Just a bit of follow-up.  I did use the installer, I did not compile from sources, on macOS 12.2.1 (21D62). This does indeed seem to be related to https://github.com/coq/platform/issues/188 . If folks want to close it as a duplicate, I have no objections.

[2022-02-14 12:28] Blaisorblade commented on #217
@MSoegtropIMC I did `opam init --reinit` and rebuilt coqide (8.13.2), and it can access `Documents`, but crashes even after granting it full disk access by hand. It's true some coqide version did appear on the application list in "Full Disk Access" — not sure if the same.

The reinit might not have been effective, as `~/.opam/opam-init/hooks/sandbox.sh` wasn't touched and I don't see any other rel

[2022-02-14 13:42] MSoegtropIMC commented on #217
I would say this conjecture is disproven by the fact that it works for me on 11.6.2 (compiled from sources).

@commit-dkp : it would be interesting to know if the compiled from sources variant works for you.

@Blaisorblade : can you try deleting the `~/.config/coq` file? Possibly the file is broken and this kills CoqIDE.

[2022-02-14 23:15] Blaisorblade commented on #217
Already tried moving that folder away, no change :-(

[2022-02-15 08:18] MSoegtropIMC commented on #217
OK. I will close this here since I don't see a connection to Coq Platform. Please reopen in the Coq issue tracker.

[2022-02-15 08:18] #217 closed

[2022-02-15 10:17] Zimmi48 commented on #217
Please do *not* reopen in the Coq issue tracker since there is already the following issue: https://github.com/coq/coq/issues/15486

Instead, add any missing info for debugging this over there.

BTW, in case an issue is incorrectly located we can also transfer it (no need to close and reopen).

[2022-02-15 14:48] commit-dkp commented on #217
@MSoegtropIMC My apologies, but I am not able to compile from sources. The installation of ocaml-base-compiler fails at "make install". Specifically, `ranlib: error: exactly one archive should be specified`. This happens even after forcing a sequential build, as a recommended by the script as a workaround.

[2022-02-15 14:56] Zimmi48 commented on #217
This probably deserves a new issue in the Platform repository.

[2022-02-15 17:05] MSoegtropIMC commented on #217
@commit-dkp : I expect you are using Coq Platform 2022.01 still on Apple M1 silicon? Or did you try plain opam?

There have quite some tests been done on M1 and the latest version seemed to work for others - see https://github.com/coq/platform/issues/168.

I can't help you much with debugging on M1 since I don't have one currently, so we would need some assistance from you in finding out what it i

[2022-02-16 17:46] brando90 opened #219 "issues installing coq from plataform script"
I got a new machine (mac book m1, not sure if it matters) and I noticed I didn't have Coq:
[code]

So I went to the instructions to download coq (https://coq.inria.fr/opam-using.html). Some part of it seems to work:
[code]
but then when I go get and pin coq opam can't find it:
[code]

anyone know what is going on? Seems puzzling.

---

cross: https://coq.discourse.group/t/how-to-install-coq-when-i

[2022-02-16 17:52] Zimmi48 commented on #219
For the record, the relevant part from the Platform issue tracker is the last one (which shows the result of running the Platform scripts). I expect the previous attempts (without the Platform) should have not any impact on the results of running the Platform scripts.

[2022-02-16 18:14] MSoegtropIMC commented on #219
Indeed Coq Platform creates a new switch, so whatever you did before doesn't (or shouldn't) matter.

The "dev" variant of Coq Platform is for obvious reasons not  guaranteed to work. This is "best effort" and I would say you get a reasonable collection of dev packages. That coq-interval.dev doesn't work is known. **Please report on results for one of the supported release variants.**

Also note th

[2022-02-17 17:28] Zimmi48 commented on #219
The script is supposed to be interactive and is supposed to ask you what version you want at some point. The default is supposed to be 8.14.

[2022-02-17 18:06] MSoegtropIMC commented on #219
I guess I should change the (dev) line to:
[code]

[2022-02-17 18:20] Zimmi48 commented on #219
Can we also separate more clearly the recommended package sets from the compatibility ones and the preview ones (like we do in the release notes)?

Another idea is that maybe it shouldn't be as easy to select a preview set than it is to select a recommended set (e.g., require the user to confirm afterward).

[2022-02-17 18:46] brando90 commented on #219
I suppose I did select 7. I didn't know it was going to bring issues (not sure why it is or if thats the issue). Will try option 1 right now. I do suggest to make it as automatic to the user and friendly as possible :)

[2022-02-17 19:27] brando90 commented on #219
the install worked but I am unable to use coqide (or the coq plataform did not install it for me). See output:
[code]

how do I proceed?

[2022-02-17 19:30] MSoegtropIMC commented on #219
@brando90 : do you use Homebrew or Macports?

[2022-02-17 19:30] brando90 commented on #219
yes

[2022-02-17 19:30] brando90 commented on #219
brew

[2022-02-17 19:31] MSoegtropIMC commented on #219
Try Macports. The issue `building for macOS-arm64 but attempting to link with file built for macOS-x86_64` you see is definitely an issue of the system package manager you use.

[2022-02-17 19:32] brando90 commented on #219
what do I try?

[2022-02-17 19:33] MSoegtropIMC commented on #219
Uninstall Homebrew (or somehow hide it) and install MacPorts.

[2022-02-17 19:34] brando90 commented on #219
I'm confused, do you want me to try this: https://github.com/coq/platform/blob/main/doc/README_macOS.md#installing

Installing
For MacPorts installation follow the instructions at (https://www.macports.org/install.php) - that is download the installer package matching our OS version and double click on the downloaded package.

For homebrew installation instructions see (https://brew.sh/index) - we

[2022-02-17 19:34] MSoegtropIMC commented on #219
Having both will likely result in quite a mess unless you know exactly what you are doing, so I would uninstall Homebrew.

[2022-02-17 19:34] brando90 commented on #219
but I use brew all the time. I don't really want to uninstall it...

[2022-02-17 19:35] brando90 commented on #219
even if I did I am unsure what the goal is. Is what we are trying to install is coq or the coqide? or both?

I'm also happy to return using my emacs setup or vscode...

[2022-02-17 19:36] Zimmi48 commented on #219
If you are happy with Emacs or VsCode, this is indeed a simpler and safer option for you.

[2022-02-17 19:36] MSoegtropIMC commented on #219
Well then you have to fix it. It apparently installs Intel binaries on yor ARM machine which is no good.

Coqide needs much more dependencies than coq itself. If you don't need CoqIDE, you can just ignore the errors you get from installing it. Nothing else in the Coq Platform depends on it.

[2022-02-17 19:38] brando90 commented on #219
Thank you! I appreciate the help :)

Will try this later and report what I did (in case it's useful for folks in the future that come across this issue)

[2022-02-17 19:39] brando90 commented on #219
Out of curiosity, what does brew have to do with this? I've never ran a brew command in this entire discussion. Unless the coq plataform binaries run it for me. I did run:

[code]

[2022-02-17 19:43] brando90 commented on #219
@Zimmi48 btw, I am puzzled. There is a Rossetta thing that translates between intel and m1 binaries. Why is coq or coqide inable to use them? Or the installation process? Should that not be supported by coq? My guess is that it shouldn't be to hard.

[2022-02-17 19:56] MSoegtropIMC commented on #219
@brando90 : CoqPlatform uses opam and opam uses either Homebrew or MacPorts to install its many system dependencies. About half of the packages in [dependencies](https://github.com/coq/platform/blob/main/doc/README%7E8.14%7E2022.01.md#dependency-packages) are system packages - the other half is OCaml stuff.

You should see this in your first run of `coq_platform_make.sh` in a section where it says

[2022-02-17 20:03] MSoegtropIMC commented on #219
MacPorts has btw. a declarative package file format - similar to opam - which makes it easier to handle such things. Afaik brew packages can contain unrestricted python (?) code, which makes it much harder to so something like a x86 to arm migration.

[2022-02-19 23:37] richfh opened #220 "Coq Platform 8.14~2022.01 on macOS 10.13.6"
Unable to run Coq Platform 8.14~2022.01 on macOS 10.13.6 using the binary installer at:
https://github.com/coq/platform/releases/tag/2022.01.0
which states:
"This installer is only compatible with macOS 10.13 or higher."

However, attempts to run coqtop, coqc tools result in:

dyld: lazy symbol binding failed: Symbol not found: ____chkstk_darwin
Referenced from:
/Applications/Coq-Platform-8.14~202

[2022-02-20 12:29] Zimmi48 commented on #220
Let's also repeat what you said on Zulip:

https://developer.apple.com/download/all/?q=Xcode%2013

[2022-02-20 14:28] richfh commented on #220
I was hesitant to add that to the issue because I haven't verified their claim, but it is worth noting.

[2022-02-21 08:22] MSoegtropIMC commented on #220
Current XCode is 13.2.1 (or so) and I doubt that there are changes in supported platforms between 13.1 and 13.2.1. it is likely more a question of command line options and/or the OS version you run it on.

[2022-02-21 11:33] MSoegtropIMC commented on #220
I looked around a bit. As far as I can tell the XCode version just sets the default lower limit for the supported OS, but (again afaict) one can override this. The XCode gcc gives the following infos:
[code]
I guess all one has to do is to issue `-mmacosx-version-min=something`. I am not sure I can inject this to opam via environment variables - afaik it does some environment sanitation.

[2022-02-21 11:43] MSoegtropIMC commented on #220
See "https://github.com/ocaml/opam/issues/5064".

[2022-02-21 11:44] MSoegtropIMC commented on #220
Besides I think one has to inject this into MacPorts / Homebrew as well ...

[2022-03-04 13:34] Zimmi48 commented on #178
The main issue for including coqutil (even in the extended level) would be if there is no one committing to make timely releases when new Coq versions are released.

[2022-03-04 15:45] silene commented on #178
Can't we take for granted that whoever is volunteering to maintain fiat-crypto is also volunteering to maintain its closely related (almost internal) dependencies such as coqutil? Or am I misunderstanding your remark? (Perhaps you were considering the situation where coqutil would be integrated but not fiat-crypto?)

[2022-03-04 18:52] Zimmi48 commented on #178
That does make sense to me. As long as the person that volunteers confirms that this would work.

[2022-03-11 14:34] jwnhy opened #224 "Coq Platform does not work with `make`"
I installed Coq Platform with `snapd`. It seems incompatible with the system-level `make`.

[code]

If using `coqide`'s make, everything is fine.
I am guessing it is due to some `$PATH` issue between host system and snap image.
Any ideas on how to fix this?

[2022-03-14 10:37] Zimmi48 commented on #224
The issue seems to be that `coqdep` is not available in `PATH`. Snap hides most commands from the global path by sealing them into a Snap-specific namespace. But we can require global aliases and we have done so for several toplevel commands including `coqdep`: https://forum.snapcraft.io/t/aliases-request-for-coq-prover/21925/12. Since this request has been granted, it is strange that you are hitt

[2022-03-14 11:18] MSoegtropIMC commented on #224
@gares : do you have time to look into this?

[2022-03-14 12:05] gares commented on #224
No, coqdept is not an alias:
[code]
*but* if you use the coq_makefile from the snap, then it should pick the `coqdep` in the snap, since the, say `Makefile.conf`, should contain:
[code]
and `Makefile` should contain:
[code]

@Zimmi48 if you want to also ask an alias for the other binders not in this list, I'm OK with it but I don't have time right now.

[2022-03-14 12:06] gares commented on #224
@jwnhy can you confirm you did not run the `coq_makefile` from the snap package?

[2022-03-14 12:08] gares commented on #224
(also, ftr, if you install the snap by hand, eg `snap install ./my-file.snap --dangerous` then aliases are not created)

[2022-03-14 12:20] jwnhy commented on #224
Actually I tried both the original `makefile` in the SF and use `coq_makefile` to make one.

[2022-03-14 12:38] Zimmi48 commented on #224
You've missed my point, the link that I've provided contains:

So the alias was already requested and granted, although maybe it was never correctly set up...

[2022-03-14 13:18] gares commented on #224
OK, so we have 2 problems:
- the alias request was not fulfilled
- still, even without the alias coq_makefile should work

For the second problem, @jwnhy, could you please start afresh, generate the makefile with coq_makefile from the snap and type  `make debug; make VERBOSE=1`, thanks

[2022-03-14 13:45] jwnhy commented on #224
So I ran the `make debug > ~/temp 2>&1; make VERBOSE=1 >> ~/temp 2&>1`
and it spit out a huge [chunk](https://pastebin.com/j92Qeq4z).
@gares Hope this is useful to you.

[2022-03-14 14:07] gares commented on #224
Something is very fishy, for example this does not exist:
- /snap/coq-prover/28/coq-platform/2022-01-0/bin//coqc

While your screenshot suggests that
- /var/lib/snapd/snap/coq-prover/28/coq-platform/2022-01-0/bin//coqc

does. Which Linux distro are you on? It is probably a bug of the snap package which assumes snap is installed in /snap/ but it is not the case.

[2022-03-14 14:11] gares commented on #224
@Zimmi48 the problem with aliases is probably that we don't declare a corresponding app, see
https://github.com/coq/platform/blob/88d69fcd97b313de1c6e39b9439234ad6e863f21/linux/snap/snapcraft.yaml.in#L43

[2022-03-14 17:39] gares commented on #224
`coqidetop.opt` is there, see the listing I posted above. My guess is that it won't generate an alias pointing to a non existing app.

[2022-03-14 22:11] jwnhy commented on #224
Yes, here is my `$PATH`
[code]

[2022-03-14 22:12] jwnhy commented on #224
My `snap` version is 2.54.4

[2022-03-14 23:42] tech189 commented on #164
It would also be good if the Windows installers had a stable naming pattern so that package managers could run a regex on the releases page to get the latest installer!

E.g. the current release title is `2022.01.0` but the installer file name contains `2022.01` without the trailing `.0`, while older versions had different patters of no Coq version or no release version. Maybe the installer file n

[2022-03-21 11:27] pi8027 opened #225 "Add Algebra Tactics to the platform"
I'd like to request adding [coq-mathcomp-algebra-tactics](https://github.com/math-comp/algebra-tactics) ([opam file](https://github.com/coq/opam-coq-archive/blob/master/released/packages/coq-mathcomp-algebra-tactics/coq-mathcomp-algebra-tactics.0.3.0/opam)) to (either the extended or full level of) the Coq Platform. Since I'm the author, this comment also provides the agreement.

[2022-03-21 11:33] MSoegtropIMC commented on #225
@pi8027 : thanks, I will have a look!

Regarding the full / extended question: typically packages with 0.X version numbers go into the extended pick. The only exception is coq-mathcomp-analysis, where the authors said that the interfaces it provides are fairly stable and will in the future be mostly extended, but not redesigned.

I am open to add this package also under "full" if you state that th

[2022-03-21 11:51] pi8027 commented on #225
I think the package is quite stable. But, I also hope to release 1.0.0 by the end of April (even if it is the same as 0.3.0, just to indicate it is stable). So, I prefer to put it into the extended level for now.

[2022-03-21 13:13] MSoegtropIMC commented on #225
I added `coq-mathcomp-algebra-tactics` in the extended section (currently in the preparation branch - will push today) and chose
`examples/field_examples.v examples/ring_examples.v` as smoke test files. It looks all good, so I will close this.

[2022-03-21 13:14] MSoegtropIMC commented on #225
Reference: https://github.com/coq/platform/issues/193

[2022-03-21 17:45] MSoegtropIMC commented on #216
Yes, it is really true, at least for macOS BigSur+. You can still run non-notarized apps using the right click open thing, but you can't run unsigned apps.

[2022-03-21 17:49] MSoegtropIMC commented on #208
This is fixed by commit 23264b632eaec8b183f168f8f1f16e34319a40c6.

[2022-03-21 17:49] #208 closed

[2022-03-21 18:01] MSoegtropIMC commented on #177
@spitters : did you create the opam package as discussed? I somehow still can't find it. If the opam package is there by Wednesday I can still consider it for the 2022.03 release, otherwise I need t postpone it.

[2022-03-21 18:06] MSoegtropIMC commented on #167
@damien-pous : sorry I had too much other things to do for the previous release, but 2022.03 is still open, and I am considering it. One issue is that I can't find an opam package. Is there one? Of not do you need help with creating one?

[2022-03-21 18:10] MSoegtropIMC commented on #162
It seems to be a one time glitch.

[2022-03-21 18:10] #162 closed

[2022-03-21 18:14] MSoegtropIMC commented on #132
@palmskog : do you think singing the github commits (annotated tags) would be sufficient for the time being?

[2022-03-21 18:21] MSoegtropIMC commented on #107
I think with the multi-version support it is sufficiently easy to create preview releases by supplying an additional pick. I also plan to have besides the dev pick a "coqci" pick which mimics coqci and should be more stable than dev, but in a later release.

[2022-03-21 18:21] #107 closed

[2022-03-21 18:23] MSoegtropIMC opened #227 "Support a "CoqCI" package pick, which mimics Coq CI"
There is a "dev" package pick, which builds what is in opam dev, but this frequently does not work. It would make sense to have a pick which automatically creates patched opam packages matching Coq's CI (in a separate opam patch repo). There is some work in that direction by @gares in https://github.com/coq/platform/pull/44

[2022-03-21 18:27] MSoegtropIMC commented on #145
This is meanwhile solved, see the link in https://snapcraft.io/coq-prover.

[2022-03-21 18:27] #145 closed

[2022-03-21 18:32] MSoegtropIMC commented on #94
@murrayE : I just wanted to ask what came out of this. Did you manage to patch the Coq Platforms scripts for X11? Should I add a switch?

[2022-03-21 18:37] MSoegtropIMC commented on #61
@arthuraa : I am currently doing the picks for 2022.03 and I could still take this in, but I would need a statement from you that you want this and are planning to maintain it according to the Coq Platform [charter](https://github.com/coq/platform/blob/main/charter.md)

[2022-03-21 18:40] palmskog commented on #132
@MSoegtropIMC annotated tags sound good, but for this to be meaningful I think signing should be done with a personal GPG key that can be independently checked to belong to one's web of trust. For example, I documented how one could recreate/check a Coq tag/release [on the Coq Wiki](https://github.com/coq/coq/wiki/VerifyingReleases).

[2022-03-21 18:46] palmskog commented on #16
@MSoegtropIMC there was recently a release of Ott compatible with Coq 8.12 to 8.15: https://github.com/ott-lang/ott/releases/tag/0.32

However, it hasn't been submitted as a package to OCaml opam archive yet. After that is up, it would take me a minute to add the coq-ott package to the Coq opam archive. I guess I can do the OCaml opam archive PR if there's a chance to add Ott for the 2022.03 Platf

[2022-03-21 18:46] MSoegtropIMC commented on #47
@gares : I must admit I don't understand the description of this issue. Do you plan to do this? Is it easy? Can you point me to the code?

[2022-03-21 18:51] MSoegtropIMC commented on #41
The `tags/v8.12.0+beta1` had a rather old script state. I would think that with the new multi-version support these issues are gone. One can now install Coq 8.12 with the latest version of the scripts, so that the old script versions for older Coq versions need not be maintained any longer.

[2022-03-21 18:51] #41 closed

[2022-03-21 19:00] MSoegtropIMC commented on #2
@palmskog : I am not sure what to do about this. Would you consider this solved by the recent paper by you, @gares and @Zimmi48 ?

[2022-03-21 19:01] MSoegtropIMC commented on #224
@gares : is there something I can do for 2022.03 to improve things?

[2022-03-21 19:03] MSoegtropIMC commented on #219
@brando90 : Are there any news about this? Did you manage to get things running? Can you give some hints for future M1 users?

[2022-03-21 19:04] palmskog commented on #2
@MSoegtropIMC our [paper](https://hal.inria.fr/hal-03592675) is only one piece of the puzzle in convincing venues such as TACAS, CPP, etc., to recommend submissions to use the Platform whenever they have a Coq artifact. I expect that the academic side of the Platform team will have to "evangelize" using the Platform for several years more. Hence, I think we should keep this issue open to track pro

[2022-03-21 19:04] MSoegtropIMC commented on #216
@LasseBlaauwbroek : I just wanted to ask what the outcome of this was. Can you please summarize what from your point of view is missing?

[2022-03-21 19:39] LasseBlaauwbroek commented on #216
The outcome of this was mostly negative, but as far as I can see not particularly because of the platform. I tried Enrico's suggestions (and followed some other snap tutorials) but I'm unable to create a local snap build as of now. My laptop actually crashes during the generation of the Coq package, but as far as I can tell this is because of some virtualization issue that has little to do with th

[2022-03-21 19:42] LasseBlaauwbroek commented on #216
If you are interested in the CI failures, see below. Any suggestions on how to resolve any of it would be appreciated: https://github.com/coq-tactician/platform/actions

[2022-03-21 19:50] damien-pous commented on #167
Hi @MSoegtropIMC, there are opam packages for coq versions up-to 8.14, under the name coq-relation-algebra.
I should probably do a version for coq 8.15, I did not have a look at it yet...

[2022-03-21 19:58] gares commented on #224
Hum, no, I'm out of ideas.

[2022-03-21 20:24] MSoegtropIMC commented on #132
Wouldn't simply be signing the tag with a GPG key that is registered with Github sufficient?

[2022-03-21 20:26] MSoegtropIMC commented on #16
@palmskog : if the opam package is there until say Wednesday, things should be fine for 2022.03.

Please note that Coq Platform has patch repos for both, the OCaml repo and the Coq repo and if the only issue is to get the opam package in, I wouldn't have an issue to release a Coq Platform with this in the local repos.

[2022-03-21 20:29] MSoegtropIMC commented on #2
OK, I created a milestone "Longterm"

[2022-03-21 20:35] MSoegtropIMC commented on #216
So "https://github.com/coq-tactician/platform" is a clone of Coq Platform 2022.01 and you just changed the pick files and the picks to build in the github action files? Are there other changes? This should be fairly easy to do provided the pick files themselves work.

[2022-03-21 20:37] MSoegtropIMC commented on #167
Sorry, silly me - I was searching in the opam tree, but with `find . -f -iname "*relation*"` rather than `find . -d -iname "*relation*"`. I would appreciate an opam file for 8.15 (preferably until Wednesday), but I could also create it.

[2022-03-21 20:39] MSoegtropIMC commented on #224
OK, I postponed this and put it on my agenda to become less snap agnostic. Maybe as snap newbe I can more easily reproduce such issues than as a snap pro like you.

[2022-03-21 20:43] LasseBlaauwbroek commented on #216
I Indeed added some custom picks and enabled them in the CI.
But I also upgraded OCaml to 4.12 to make MacOS happy due to https://github.com/AltGr/ocaml-mccs/issues/33. Additionally I removed the use of the mingw repo for Windows (not sure exactly why anymore).

For Windows and Snap, upstream packages are still failing, which does not seem to have anything to do with Coq Platform.
For MacOS I'm ge

[2022-03-21 20:49] MSoegtropIMC commented on #216
The Windows build will definitely fail if you remove the MinGW repo.

Let me take one of your pick files and build them locally and see what happens. If the picks build locally, they should also build in CI.

The Mac library issues shouldn't have anything to do with overwriting standard library files.

I will have a look after the 2022.03 release, since this has nothing to do with the release.

[2022-03-21 20:56] LasseBlaauwbroek commented on #216
Yeah, the removal of the MinGW repo may have been a mistake (but it was also not working before the removal).

Note that my pick files do not build locally for me either. There are just a bunch of upstream problems that I've been unable to resolve on any platform apart from Linux (it used to work last year which is very annoying; there have been several regressions in the OCaml ecosystem).

Note t

[2022-03-21 21:00] MSoegtropIMC commented on #132
Yes, I can do this key signing with @gares or ask the respective Coq release manager to sign of the Coq Platform tag.

[2022-03-21 21:04] gares commented on #224
In thos specific case it seems a snapd with a weird path layout on a niche distribution... not exactly where I would start.

[2022-03-21 21:21] MSoegtropIMC commented on #216
I can definitely have a look.

The MacOS issue might be related to this change in macOS:

https://developer.apple.com/documentation/macos-release-notes/macos-big-sur-11_0_1-release-notes

Search for "dynamic linker cache".

But the Platform shared library copier should be able to detect that this is a system library and need not be copied to the installer (it tries to copy libraries from MacPorts

[2022-03-21 21:26] MSoegtropIMC commented on #224
Ah OK, I didn't read the Gentoo thing.

Well I would say that Gentoo doesn't really support snap and we should simply document this and recommend that users on Gentoo should use the from sources scripts.

[2022-03-21 21:29] #176 closed

[2022-03-21 23:04] brando90 commented on #219
Hi @MSoegtropIMC, I'm not sure what to say. I can't remember right now what I did exactly. But from memory I just followed the coq plataform install scripts and I think it worked. Let me print the current versions of coq and opam switches I have in case it is useful for future m1 users:
[code]

[2022-03-21 23:05] brando90 commented on #219
Actually I just saw my answer in stack overflow, let me copy the link to it:

https://stackoverflow.com/a/71146080/1601580

I think that is what people should use as a reference. Happy to re-open it if there is something worth discussing but since the answer I wrote there worked for me now that should be a good answer for this too.

[2022-03-22 02:11] JasonGross commented on #178
https://github.com/coq/opam-coq-archive/blob/master/extra-dev/packages/coq-fiat-crypto/coq-fiat-crypto.dev/opam

I'm happy to make nominal releases of coqutil and rewriter.

I think this is a question for @spitters , though there's the additional issue that I think the newest work building on fiat-crypto is about the bedrock2/rupicola part, which is currently not even in the dev package because be

[2022-03-22 02:26] JasonGross commented on #178
I can make non-dev packages of fiat-crypto, coqutil, and the rewriter, though it might take me a couple days.  (Someone else should also feel free to make the packages ... should I make releases of each of the projects first?)

[2022-03-22 07:37] MSoegtropIMC commented on #219
@brando90 : OK, if this information did help you and the official documentation did not, then we need to work on it.

Out of curiosity: did you come across this documentation:

https://github.com/coq/platform/blob/main/doc/README_Linux.md

If yes I guess the introductory lines stating that beginners should use snap got you on the wrong path (snap is way wrong on gentoo because afaik it does not of

[2022-03-22 07:37] MSoegtropIMC commented on #219
P.S. I reopened this to make sure we update the docs.

[2022-03-22 07:52] MSoegtropIMC commented on #178
@spitters : can you say a few words on the intended usage of fiat-crypto for derived work - essentially your vision about it? From the description of @JasonGross I am not sure if it would be the right move to include fiat-crypto in Coq Platform now.

@JasonGross : how do you see the outlook? Is it so that the APIs of fiat-crypto will stabilize in say a year, or is using fiat-cyrpto more like landi

[2022-03-22 08:18] Zimmi48 commented on #178
@spitters will get the chance to answer in more detail, but his team is already relying on fiat-crypto for derived work. See an example paper here: https://eprint.iacr.org/2021/549.pdf

[2022-03-22 08:40] Zimmi48 commented on #219
@MSoegtropIMC

You seem to be confusing two different issues: this one is not about Gentoo, it is about macOS with M1 hardware.

From what I remember from this issue, the main problem was that when you switch macOS machines, Apple will sync your files for you, including your opam root, which may be a problem if you are switching from Intel to Apple processors. Once the opam root was removed, just

[2022-03-22 09:03] spitters commented on #178
We're using fiat with my PhD-students in https://github.com/AU-COBRA/AUCurves, which also depends on bedrock.

[2022-03-22 10:25] MSoegtropIMC commented on #190
@djspacewhale : As far as I can tell it behaves as the documentation says. If you use WSL you can obviously count the memory available to WSL only, which is 4 GB. In this situation the documentation recommends 2 make jobs, but you used 3:

`"make BUILD_COQ=no -j3"`

Does it work with 2?

Do you think it is required to hint users that when using virtualization, that they need to take the memory of

[2022-03-22 10:59] MSoegtropIMC commented on #219
@Zimmi48 : ah yes, sorry - too much switching hence and forth between issues.

So I guess this can be solved by noting in the Mac docs that one switching between Intel/Apple silicon one has to be careful to not copy opam root.

[2022-03-22 11:07] haselwarter commented on #177
@MSoegtropIMC we have an opam file at https://github.com/SSProve/ssprove/blob/main/ssprove.opam , is that what you had in mind?

[2022-03-22 12:27] Zimmi48 commented on #177
@haselwarter No, the opam file should be submitted to the opam-coq-archive (for specific releases).

[2022-03-22 13:23] gares commented on #47
The code for windows selects files from an opam switch to be copied in the installer.
The code for snap removes files which are not needed in order to run coq from the opam switch.

The list of files to keep/remove is the same, and is computed correctly only on windows (the snap script does not even try).

[2022-03-22 13:54] gares commented on #132
Didn't we sign our GPG keys already?

[2022-03-22 13:57] gares commented on #132
I think all devs should cross sign their keys, then `git tag -s` should just be enough. My key is decently connected (Debian past).

[2022-03-22 14:37] MSoegtropIMC commented on #177
@haselwarter : a description field in opam would be nice - we generate the [readme](https://github.com/coq/platform/blob/main/doc/README%7E8.15%7Ebeta1.md) from it. It can have a few lines (some have a few 10 lines). Please note that you can unfold the package sections by clicking on the tiangles.

[2022-03-22 14:48] MSoegtropIMC commented on #132
@gares: we did exchange the keys but I don't think that either of use signed the signing keys of the others.

[2022-03-22 15:20] brando90 commented on #219
Hi @MSoegtropIMC !

I think what got me in the wrong path is the terminal instructions is a rather long document + it says "source" but it doesn't feel it was from source from installing from source in other experiences I've had.

I do think ppl have to be careful with restoring from a time machine when moving to an m1 cuz the time machine doesn't know the cpu chip is new which causes a bunch of i

[2022-03-22 16:27] MSoegtropIMC commented on #219
I don't understand this statement. Opam does compile everything from sources - that's the reason it takes an hour. How does this not meet your expectations?

Well isn't that how it is? OK the scripts asks a few questions, but it should hardly take more than 1 minute to answer them.

[2022-03-22 17:26] damien-pous commented on #167
Just did a release for coq 8.15 (relation-algebra 1.7.7), pull request waiting on opam-coq-archive...

[2022-03-22 17:46] brando90 commented on #219
Like when I tried installing coq from homebrew which is the intuitive way to install things on mac -- it didn't work if I remember.

Finding the instruction to downloading the install script took some effort to do that I think I only found after other nice ppl (like yourself) helped me with.

I'd hate to lie accidentally, but it feels like I did try the single command in opam but my feeling is if

[2022-03-22 18:02] JasonGross commented on #178
I've created tags for all the dependencies, I'll try to create opam packages soon

[2022-03-22 19:31] JasonGross commented on #178
I've created https://github.com/coq/platform/issues/178

[2022-03-22 20:25] MSoegtropIMC commented on #174
Thinking about it this is probably not a good idea because many scripts (installer generators, readme, smoke test, ...) depend on the switch name format to extract the pick file name. So this probably would do more harm than good.

[2022-03-22 20:25] #174 closed

[2022-03-22 20:43] MSoegtropIMC commented on #60
@gares : I am reviewing old issues ...

I have two questions / thoughts on this:

- users already complain that the questions asked by the script are lengthy, so I wonder if we should just provide a command line option - it is more a pro feature. or alternatively we could have an option / question to ask "pro" questions
- I wonder if the parallel install method of Coq Platform works - it does requ

[2022-03-23 07:21] gares commented on #60
I think you would need to install it upfront, even before installing coq.

Brainstoming: what about telling power users needing the feature to edit the package selection file and add coq-native upfront?

[2022-03-23 07:51] #210 closed

[2022-03-23 07:51] #188 closed

[2022-03-23 07:51] #203 closed

[2022-03-23 07:51] #219 closed

[2022-03-23 07:51] #164 closed

[2022-03-23 08:27] MSoegtropIMC commented on #219
As @Zimmi48  said the issue here was that you got your .opam folder copied over from an Intel machine automatically. This is the reason for the obscure library errors. This killed opam on M1. I guess the best way to mitigate that is to have a sanity check in opam which detects this - I will create a ticket.

I think the docs we control are fine now: If I google "install Coq" the first hit brings m

[2022-03-23 08:41] MSoegtropIMC commented on #177
@spitters @haselwarter : I would need the tag and the published opam package by tomorrow evening for inclusion in Coq Platform 2022.03.

[2022-03-23 08:45] MSoegtropIMC commented on #16
@palmskog : can you give me an update on this? As I said, I would be fine with including both opam packages (the OCaml and the Coq one) in the local patch repo for the release. I would need either this (a PR towards Coq Platform's opam repos) or the published packages by tomorrow evening for 2022.03.

[2022-03-23 08:50] MSoegtropIMC commented on #167
@damien-pous : one question: I prefer to publish a mostly compatible package pick for the latest Coq and the previous latest one (8.15 and 8.14), so that people can first update the package pick and then Coq in separate steps. I see that relation-algebra 1.7.7 is not compatible for 8.14. Is this really so (for a good reason) or is this just untested? I could also leave it away in the compatible 8.

[2022-03-23 09:24] damien-pous commented on #167
Hi @MSoegtropIMC, I've just tested, and unfortunately 1.7.7 is not compatible with 8.14 : I rely on some OCaml function in the plugins whose type changed from coq 8.14 to coq 8.15...

[2022-03-23 09:36] MSoegtropIMC commented on #167
OK, thanks! I will then leave away relation-algebra in the 8.14~2022.03 pick and include it only in the 8.15~2022.03 pick.

[2022-03-23 09:43] Blaisorblade commented on #210
Thanks a lot!

[2022-03-23 10:33] tech189 commented on #164
Thanks for improving the macOS releases, should I make separate issue for the Windows releases?

[2022-03-23 10:39] MSoegtropIMC commented on #16
@palmskog : yes, please. I can't promise that I can finish everything and release this week, but I don't want to start testing new packages the last minute. If the packages make it to the public repos before I release, I would remove them again. In the end I have the local repos for exactly such cases.

[2022-03-23 10:42] MSoegtropIMC commented on #210
I say thank you! I took btw. most of your PR - it just needed a few fixes (there was another place where I called opam switch).

[2022-03-23 10:44] MSoegtropIMC commented on #164
It wouldn't hurt, but it is not required either - it will be done anyway

[2022-03-23 13:24] MSoegtropIMC commented on #131
@ejgallego : I just review this and think that meanwhile this is all there. Coq Platform has the following options:

- `-opamonly` : this stops after installing opam, depext packages and dev package patching and before the main `opam install`
- Windows has in addition the `-build=n` option to stop after cygwin setup

In addition there is this option used by the Coq CI:

- `-override-dev-pkg=name=u

[2022-03-23 13:24] #131 closed

[2022-03-23 18:10] MSoegtropIMC commented on #164
Ah I didn't know that there is a Scoop package for Coq Platform - maybe we should put this in the docs.

[2022-03-23 22:29] tech189 commented on #164
Sure, would you like me to make a PR adding a repology badge for Scoop's package to the README or something else?

[2022-03-24 08:12] MSoegtropIMC commented on #167
@damien-pous : a note on our "smoke test kit" (a quick check Coq Platform does to check if all packages are installed properly): I selected the files `compiler_opts.v` and `imp.v` for smoke testing which appear to be examples and coqc reasonably fast. I would appreciate if in a future release you could change these files such that they use `From RelationAlgebra Require ...` to require modules from

[2022-03-24 08:14] #167 closed

[2022-03-24 09:28] MSoegtropIMC commented on #164
Yes, but please in the Windows specific Readme. Please mention it in the few lines of introduction which list the available install methods and either create a new section "package managers" and put it there are just put the Scoop link / badge as a bullet in the install methods section.

Btw.: how does scoop does it? Download and run the installer interactively?

[2022-03-24 10:07] MSoegtropIMC commented on #16
@palmskog : I wanted to ask what the status of the opam packages (either in the local or official repos) is. I can delay the release a few days, say until Tuesday next week (that is packages are there on Monday) if you say a few days would help.

[2022-03-24 10:08] MSoegtropIMC commented on #177
@spitters @haselwarter : I wanted to ask what the status of the opam packages is. I can delay the release a few days, say until Tuesday next week (that is packages are there on Monday) if you say a few days would help.

[2022-03-24 10:57] TheoWinterhalter commented on #177
It's probably better to not rush things and maybe aim for a later release of the platform. So no need for you to wait for us. Thanks.

[2022-03-24 11:06] MSoegtropIMC commented on #177
Thanks! If you need any help preparing this, please let me know.

FYI: the next official release will be in about 5..6 months, 4..8 weeks after the 8.16.0 release (see https://coq.discourse.group/t/coq-8-16-release-schedule/1598). There will be an 8.16 preview releases short after the 8.16.0 release - that is July or early August) where I would also include it.

[2022-03-24 12:49] MSoegtropIMC commented on #16
@palmskog : one last thing: can you recommend a few (at most 3) smoke test files? They should coqc all together in < 10s on a current machine and essentially test if coq-ott has been installed. I currently don't have smoke tests for tools like ott itself, but plan for this in the near future, so some commands I could run would also be helpful.

[2022-03-24 17:40] palmskog commented on #16
Ott is mostly in maintenance mode. The only changes I plan to do are to add optional features for Coq, such as specifying the universe of a relation (lift the restriction of `Prop`-only relations).

Would be nice to see it in full, but I don't think I can persuade the Cambridge side to suddenly switch to version 1.0. So extended is also fine.

[2022-03-24 17:42] MSoegtropIMC commented on #16
We have a few 0.X packages in full. Sometimes it is just a historic artifact. It is about content, not numbers. So I think it is appropriate to add it to full.

[2022-03-24 17:42] MSoegtropIMC commented on #16
I mean that packages have 0.X numbers is an historic artifact.

[2022-03-24 17:55] MSoegtropIMC commented on #16
Yes, this is what I meant - people just never made the decision to name it 1.0.

I can imagine some nice applications of Ott in my world btw. - I will definitely see what it can do.

[2022-03-24 21:20] MSoegtropIMC commented on #16
@palmskog : the ott package does not compile on Windows (coq-ott does). I right now have no time to look into why. Do you think coq-ott is useful without ott - one probably can still work with Coq files produced with ott on another machine. One issue would be running the smoke test without ott.

[2022-03-24 22:01] palmskog commented on #16
@MSoegtropIMC the story is similar to `coq-hammer` and `coq-hammer-tactics`:
- `coq-ott` corresponds to `coq-hammer-tactics` in that a file generated by Ott only needs this library to work, so people can check the generated files into version control and depend only on this package.
- `ott` corresponds to `coq-hammer` in that there is something in the package that *generates* Coq code.

If you wan

[2022-03-24 22:04] tech189 commented on #164
Will do!

It downloads the installer and extracts it as a zip file! Then it removes installer related files and creates shims for `coqtop.exe, coqc.exe, coqchk.exe, coqidetop.opt.exe` so that they are in the PATH and can be run from anywhere. Finally it sets the environment variable `COQBIN` to the `bin` folder and creates a start menu shortcut for CoqIDE.

[2022-03-25 07:41] MSoegtropIMC commented on #16
@palmskog : yes, this is what I thought as well, so I enabled coq-ott on Windows. Maybe I can even fix Ott on Windows, so I left the smoke test empty for the time being. Would the above link be available permanently? For license reasons I can't include it in the Coq Platform repo.

Ott is included by #233.

[2022-03-25 07:41] #16 closed

[2022-03-25 07:58] palmskog commented on #16
@MSoegtropIMC what license do you want the files under? The Ott file (regexp.ott) was written by me, and the regexp.v file was generated by me, so I own the copyright to both and can license them under some suitable license. While the gists will probably be available for the foreseeable future, it's better to have the files in the actual smoke test kit, in my view.

[2022-03-25 09:44] MSoegtropIMC commented on #16
Coq Platform is CC-0 (because the main opam repo is CC-0), so if you could contribute the file under CC-0 this would help.

I suggest you create a new folder under root called `smoke_test_files/coq-ott` or maybe `test_files/coq-ott` and put the file in there.

[2022-03-25 09:54] MSoegtropIMC opened #235 "Pick readme / package list files are missing some packages"
The pick readme and package list files are missing packages which are explicitly included, but filtered out from the primary package list, e.g. elpi.

@SnarkBoojum : FYI

[2022-03-25 09:56] SnarkBoojum commented on #235
Good, like this I'll know when it's closed and update the comparison page. With some luck my script won't even need an update, just a run.

[2022-03-25 13:10] MSoegtropIMC commented on #164
I see. In the future we will likely ave a more modular and .msi based design.

Btw.: I now aligned the MacOS and Windows names, e.g.:
[code]
One can think about replacing the `arch-x86_64` with ẁindows-x84_64` and insert an `-macos` at the end for the Mac installer. What do you think?

[2022-03-25 13:12] MSoegtropIMC commented on #164
Btw.: I don't think you should be downloading ZIP files. In the releases the files are offered unzipped (the effect of ZIP compression is marginal for installers).

Scoop should download from the links given in https://github.com/coq/platform/releases.

[2022-03-25 14:13] #235 closed

[2022-03-25 16:47] arthuraa commented on #61
@MSoegtropIMC Yes, including `extructures` in the extended level would be a good idea. The package has been pretty stable over the last releases, and I plan to continuing maintaining it in the foreseable future. In the long run, it would be desirable to consolidate the package with `finmap`, but while this does not happen I think it makes sense to have both packages.

[2022-03-26 00:27] tech189 commented on #164
Yes that would be clearer! Thanks for changing it.

Scoop downloads the exe https://github.com/coq/platform/releases/download/2022.01.0/Coq-Platform-8.14.2022.01-installer-windows-x86_64_signed.exe (or the `i686` version on 32bit systems) and then unpacks it rather than running it. Scoop does this to make sure all files of an app are in one folder rather than scattered across the computer (some in

[2022-03-26 07:32] MSoegtropIMC commented on #164
I see - makes sense. Btw.: I plan to switch to MSI installers some time.

[2022-03-29 17:07] MSoegtropIMC opened #239 "Investigate why Ott does not work on Windows"
Ott does not compile on Windows. Investigate why and do a patch + upstream PR.

[2022-03-30 15:57] #61 closed

[2022-03-30 16:11] MSoegtropIMC opened #241 "Scripts: change question for "VST" to question about "large packages""
VST changed its license to BSD, so that there is no reason any more to ask explicitly for it - except that it takes a long time to build. So instead we could ask for "build packages which take long", which should include VST and unimath (these two are always the last two running).

[2022-03-31 11:50] MSoegtropIMC opened #243 "Snap: rework file selection filters"
The file selection filters for the snap generator are too restrictive - they need to be adjusted to all new packages. It would make more sense to add a negative filter, which excludes what is not wanted.

[2022-03-31 14:35] JasonGross commented on #178
There is now a non-dev version of Fiat Crypto (and its dependencies) on opam.  I'll try to add longer descriptions to what the packages contain today

[2022-03-31 15:44] JasonGross commented on #178
Thanks, and no worries if you can't.  Let me know if you have any issues building.  Note, btw, that [when we test opam install on our CI](https://github.com/mit-plv/fiat-crypto/blob/master/.github/workflows/coq-opam-package.yml), to build on Windows we have to export `COQEXTRAFLAGS='-async-proofs-j 1'` and pass `-j 1` to `opam install` to not get mem-killed.

[2022-04-01 06:13] #243 closed

[2022-04-02 11:08] Zimmi48 commented on #164
I agree that the installer names should contain the name of the OS because not all users will be able to tell the difference based only on the file extension.

[2022-04-02 14:27] MSoegtropIMC commented on #16
@palmskog : to make it work on windows I need this:
[code]
The reason is that for installation via `.install` files opam uses a MinGW executable, which does not understand cygwin symlinks. Since src/ott is a symlink to src/ott.opt, the copy of src/ott to prefix/bin fails. I guess you can find a more elegant solution.

[2022-04-02 16:01] MSoegtropIMC commented on #16
@palmskog : another thing: on Windows it is quite bad to have files named "aux" because this is a reserved filename independent of path and e.g. quite hard to delete.

[2022-04-03 10:37] MSoegtropIMC commented on #193
Looks all good.

[2022-04-03 10:37] #193 closed

[2022-04-04 17:48] MSoegtropIMC commented on #95
This has been fixed upstream.

Please note that in the 2022.04 release QuickChick only works with "compile from sources" because it requires OCaml.

[2022-04-04 17:48] #95 closed

[2022-04-04 17:49] MSoegtropIMC commented on #178
Sorry, I need to delay this to the next release, but I plan to do it shortly after the release in the main branch.

[2022-04-05 08:02] jfehrle opened #246 "Extraneous items in loadpath"
I installed from the Coq platform script. The root of its source tree is `/home/proj/installed-coq-platform/platform`.  I don't see why the items in that directory appear in the loadpath at all.

[code]

Then `Print LoadPath` shows all these things:

![image](https://user-images.githubusercontent.com/1253341/161706741-6bed3e37-a43c-4e1c-a6e4-ebff7db38dc0.png)

[2022-04-05 08:26] MSoegtropIMC commented on #246
This would be much more readable, if you would paste it as text.

I don't have any of this. For me it looks like this:
[code]

What looks worrying is that you have several space separated paths per Logical path. I can't imagine that Coq Platform contributes in any way to this behavior. It might be something in an environment variable you have or in a _CoqProject file. Otherwise it should be a bug

[2022-04-05 08:28] #239 closed

[2022-04-05 08:53] jfehrle commented on #246
I used an image because copying text from X-windows (i.e. Linux processes) to MS windows doesn't work.

Looks like it was COQPATH, thanks.  I've been doing a ton of configuration experiments lately.  Sorry to bother you.

[2022-04-05 10:35] MSoegtropIMC commented on #246
yes, that's one of the reasons why I am not a big fan of WSL2.

thanks for the confirmation - I will close this issue then.

[2022-04-05 10:35] #246 closed

[2022-04-05 17:03] jfehrle commented on #246
Windows 11 is supposed to address the cut and paste issue IIUC but I've not gotten around to trying it.

[2022-04-06 17:29] MSoegtropIMC opened #247 "Extructures: update smoke test kit"
A sample was added to extructures - see (https://github.com/arthuraa/extructures/issues/16).

The smoke test should use this file.

[2022-04-14 11:13] Zimmi48 commented on #224
Just for the record, while we might wish to close the "Gentoo" part of this issue as "won't fix" / unsupported, there remains the fact that some of the commands that we decided to export (at [some point](https://forum.snapcraft.io/t/aliases-request-for-coq-prover/21925/12)) are not exported because they are not listed under: https://github.com/coq/platform/blob/88d69fcd97b313de1c6e39b9439234ad6e86

[2022-04-15 17:42] MSoegtropIMC commented on #224
@gares : isn't it so that one also needs some sort of approval from the snap team to export apps without prefix?

[2022-04-15 18:38] gares commented on #224
Yes, but Theo already did. They don't show up since there is no entry in the app: stanza, I believe.
See https://forum.snapcraft.io/t/aliases-request-for-coq-prover/21925/13

[2022-04-19 06:31] palmskog opened #248 "z3_tptp linking problem prevents use in hammer tactic"
After I install the latest `z3` and `z3_tptp` packages via opam on an Ubuntu Linux system, a linking problem prevents the `z3_tptp` executable from working (for example, when using CoqHammer's `hammer` tactic):
[code]
So, do we actually have `libz3.so` installed anywhere? Yes, but not in a location that is part of the LDD path:
[code]
One way to get `z3_tptp` to run is the following, but it's not

[2022-04-19 06:48] MSoegtropIMC commented on #248
This is strange in a few ways:

- it works in CI - it is tested there via the smoke test (since 8.15.1 there is a coq-hammer smoke test which actually exercises the ATPs).
- I would think that it is opam's business to ensure that the stublib path is in the load path
- The shared library is not moved after linking, so the binary itself should contain the proper load path

[2022-04-19 06:54] palmskog commented on #248
In my environment, the only place I have the `stublibs` path is in the `CAML_LD_LIBRARY_PATH`. However, since `z3_tptp` is a native program and not an OCaml program, I presume it does not read from this variable.

Are you sure the smoke test actually exercises `z3_tptp`? If you have Eprover installed, it will fall back on that, almost silently.

[2022-04-19 08:18] MSoegtropIMC commented on #248
The tests are designed to exercise specific provers (see https://github.com/coq/platform/tree/main/test_files/coq-hammer) but I had once the impression that this does not really work - I think I have once seen that it uses z3 when it should have been using eprover.

Can you please check what the load path for the shared library in the executable is?

[2022-04-19 08:27] MSoegtropIMC commented on #248
I checked this again and the tests have a work around for this issue (https://github.com/lukaszcz/coqhammer/issues/130) and this work around seems to work, so the smoke test should test the specific provers.

But I must say I am not 100% sure the smoke test is run without Snap - it might be that only snap runs the smoke tests, and this might make linking a bit different.

[2022-04-19 08:28] MSoegtropIMC commented on #248
Regarding opam: aren't there opam packages which are wrappers for other shared libraries in the stub lib folder, or is it so that opam expects that all wrappers are for system installed shared libraries?

[2022-04-19 08:37] palmskog commented on #248
I'm not sure what you mean here. After I do `opam install z3 z3_tptp`, I get the following:
- `<opam-switch-root>/bin/z3` (native executable)
- `<opam-switch-root>/bin/z3_tptp` (native executable)
- `<opam-switch-root>/lib/z3` (directory with OCaml wrapper library files for z3)
- `<opam-switch-root>/lib/stublibs/libz3.so` (the native z3 library)

Since the native z3 library (`libz3.so`) is not ins

[2022-04-19 09:51] MSoegtropIMC commented on #248
See https://en.wikipedia.org/wiki/Rpath

The wiki page suggest to use `readelf -d <binary_name> | grep 'R.*PATH'` to check it.

Afaik one can give a relative rpath from executable to library, so that this would survive snap packaging, although - again afaik - it would also look under LD_LIBRARY_PATH if it is not under the rpath (this might be OS dependent).

I darkly remember that by default the r

[2022-04-19 10:22] palmskog commented on #248
Here is what I get from `readelf` (recall this is a manual opam installation):
[code]

[2022-04-19 12:38] MSoegtropIMC commented on #248
Can you try addind a

`-Wl,-rpath -Wl,"../lib/stublibs/"`

to the build command for z3_tptp in the opam file (it is a direct call to gcc). This should add a proper RPATH entry to the executable. If this does not work, can you please try with an absolute path?

[2022-04-19 13:50] palmskog commented on #248
I used the following diff to the upstream opam file:
[code]
That is, the new build clause looks as follows:
[code]
And then it seems to work. For example, I get the following after installing the new local package:
[code]

[2022-04-19 13:56] palmskog commented on #248
Also, I tried with `../lib/stublibs/` also, but it didn't work.

[2022-04-19 15:34] palmskog commented on #248
If you want to to implement my patch in the upstream `z3_tptp` packages, I think this should be done without changing the package versions (I think this is what you mean by "silently"). Basically, `z3_tptp` as currently packaged in `opam-repository` doesn't work out of the box, and this patch would fix that. The `z3_tptp` package already depends on the `z3` package which installs `libz3.so`, so th

[2022-04-19 15:37] MSoegtropIMC commented on #248
Except possibly in cases stuff is moved around, but this is not a standard application of opam.

I will change the package then.

[2022-04-19 16:22] MSoegtropIMC opened #249 "Windows: update license text for VST"
The license text shown for VST is outdated - likely one doesn't need to show a license text at all any more, but this must be double checked.

One should take this as opportunity to generally review the display of licenses during the Windows installation.

[2022-04-19 16:23] MSoegtropIMC opened #250 "Windows: created installers have wrong filename"
The installers created by Windows CI have a name like `Coq-Platform-release-2022.04.0-version~8.15~2022.04-arch-x86_64.exe`

The `arch` in there should be `windows`.

[2022-04-19 16:53] MSoegtropIMC opened #251 "Windows: remove QuickChick from installer as long as it works only in "compile from sources" mode"

[2022-04-19 16:57] MSoegtropIMC opened #252 "Windows: exit smoke test batch file with "EXIT /B" to avoid closing CMD"

[2022-04-19 17:15] MSoegtropIMC opened #253 "MacOS: add a CPU platform (x64) to the name of the DMG installer"

[2022-04-21 17:20] andrew-appel commented on #249
Correct.

The Coq Platform 2022.04 release contains an obsolete VST license.

The license displayed in the "Coq Setup" in my Windows installer for [this release](https://github.com/coq/platform/releases/download/2022.04.0/Coq-Platform-release-2022.04.0-version_8.15_2022.04-windows-i686_signed.exe),

displays like this one:
https://github.com/PrincetonUniversity/VST/blob/v2.9/LICENSE

but the curre

[2022-04-21 17:32] andrew-appel opened #254 "Coq Platform 2202.04 Windows installer fails to clear destination directory"
I installed the Windows-executable installer for the Coq Platform 2022.04 with Coq 8.15.
In the dialog box for where to install it, I specified C:\Coq88, which is a directory that already existed and was populated with a previous installation of the Coq Platform.

CoqIDE failed to start.

Then it occurred to me to entirely delete the destination directory C:\Coq88 and try the install again.
Now it

[2022-04-21 19:19] MSoegtropIMC commented on #254
This is unfortunately not that easy to do with an NSIS installer. As a temporary work around I changed the default name such that it is different for each version.

I plan to switch to MSI installers which uses the Windows installed module database, but it might be quite slow for Coq, since usually one does one module per file because it is not allowed to change which files are in a module.

[2022-04-21 19:35] andrew-appel commented on #254
If it's not easy to do with an NSIS installer, then a reasonable alternative would be to use an NSIS installer but put a message in the dialog box saying, "Warning: the target directory should be empty or nonexistent before proceeding", or something like that.

[2022-04-22 07:26] MSoegtropIMC commented on #254
It is not even easy to check this in NSIS. In principle NSIS is Turing equivalent, but its language is a bit terse - some sort of stack based assembly language with string registers. To give you an impression, here is a "replace in string" function:

(https://github.com/coq/platform/blob/main/windows/StrRep.nsh)

It is not really that bad, but if I don't do larger changes for a week or so, it take

[2022-04-22 13:43] andrew-appel commented on #254
I was not suggesting that the installer needs to check whether the directory is empty.  It would be helpful if the dialog box could give that warning message even without checking.  Is it difficult to modify the text in the dialog box?

[2022-04-22 13:49] MSoegtropIMC commented on #254
I will check that. It is a default dialog box, but one can likely override the text.

[2022-04-25 17:21] andrew-appel opened #255 "2022.04 README_Linux refers to 2022.01"
This file,
`https://github.com/coq/platform/blob/2022.04.0/doc/README_Linux.md`
contains the advice,
`Most users should download and extract https://github.com/coq/platform/archive/refs/tags/2022.01.0.zip.`

Should it be referring to 2022.01 or 2022.04  ?

Also (and maybe this should be a separate issue), for the naive or easily confused user it is difficult to figure out where to find the instruc

[2022-04-27 18:05] richfh opened #256 "Coq-Platform~8.14~2022.04.app on macOS 10.13.6"
Coq-Platform\~8.14\~2022.04.app does not launch on macOS 10.13.6.
Error message is:

You can't use this version of the
application "Coq-Platform\~8.14\~2022.04.app" with this version of
macOS.  You have macOS 10.13.6. The application requires macOS
11.0 or later.

[2022-04-27 18:10] richfh opened #257 "Coq-Platform~8.14~2022.04.app on macOS 10.15.7"
Coq-Platform\~8.14\~2022.04.app does not launch on macOS 10.15.7.
Error message is:

You can't use this version of the application "Coq-Platform\~8.14\~2022.04.app" with this version of
macOS.  You have macOS 10.15.7. The application requires macOS 11.0 or later.

[2022-04-27 18:12] richfh opened #258 "Coq-Platform~8.15~2022.04.app on macOS 10.15.7"
Coq-Platform\~8.15\~2022.04.app does not launch on macOS 10.15.7.
Error message is:

You can't use this version of the application "Coq-Platform\~8.15\~2022.04.app" with this version of macOS.
You have macOS 10.15.7. The application requires macOS 11.0 or later.

[2022-04-28 06:39] MSoegtropIMC commented on #256
Duplicate of https://github.com/coq/platform/issues/220.

Since there is the alternative path of compiling from sources, I am not sure I will fix this.

[2022-04-28 06:39] #256 closed

[2022-04-28 06:41] MSoegtropIMC commented on #257
I don't think you need to create an issue for each individual version.

The main question is if we do support older versions than what is supported by the XCode on the GitHub runners or not.

Duplicate of https://github.com/coq/platform/issues/220.

[2022-04-28 06:41] MSoegtropIMC commented on #258
Duplicate of https://github.com/coq/platform/issues/220.

[2022-04-28 06:41] #258 closed

[2022-04-28 12:38] richfh commented on #257
I posted the additional issues because the release notes [https://github.com/coq/platform/releases/tag/2022.04.0]() say
"Notes on the macOS installer: This installer is only compatible with macOS 10.13 or higher." (I have 10.13 and 10.15)
and also because although the binary installers for 2022.04 don't work, Coq-Platform-8.14\~2022.01.app **DOES** work on
macOS 10.15.7 (both IDE app and command l

[2022-04-28 12:55] MSoegtropIMC commented on #257
@richfh thanks for the additional information - it is helpful.

Essentially status quo is that on which OS versions the installers run depends on the version of XCode preinstalled on the MacOS runners on Github. apparently this changes without notice.

I guess we need to look into supporting older versions if only to have this under control.

[2022-04-28 12:57] MSoegtropIMC commented on #257
For the time being I updated the release notes.

[2022-04-29 15:03] Zimmi48 commented on #220
We should have updated the release notes of 2021.01 to acknowledge that the Coq Platform binary installer doesn't work with macOS 10.13, shouldn't we? We know that it works with macOS 10.15, but we have no information regarding macOS 10.14 IIUC.

[2022-05-04 09:04] Zimmi48 commented on #212
Another user reported about this issue today on Zulip: https://coq.zulipchat.com/#narrow/stream/237977-Coq-users/topic/Installing.20coqide/near/281121840

[2022-05-13 06:35] MSoegtropIMC opened #259 "Pick readme files: include OCaml version in header"
As discussed in Zulip, the auto generated pick readme files should contain the OCaml version / flags in the header.

[2022-05-22 21:47] richardwzp opened #260 "IDE crashed when trying to do edit->preferences"
[code]
I was on BigSur with the january version, and preference just crashes the ide. I updated to Monterey, and is using `coqIDE 8.15`, and this issue seems to still persist.

[2022-05-23 11:36] MSoegtropIMC opened #261 "Remove local opam package for coq-ott"
Also check Windows compatibility

See https://github.com/coq/opam-coq-archive/pull/2178

[2022-05-23 11:44] MSoegtropIMC commented on #260
That it crashes is more of an issue in CoqIDE than of CoqPlatform and should be reported there - if CoqIDE doesn't like something, at least it should give a proper error message and not crash.

This should work in Coq Platform 2022.04 but is known to not work in previous versions - see (https://github.com/coq/platform/issues/217).

If it does not work with 2022.04, I would need more details, e.g.

[2022-05-23 11:50] MSoegtropIMC commented on #260
P.S.: a frequent source of crashes of the settings dialog are corrupted settings files (afaik `Library/Application Support/coq/coqiderc`). Deleting this file might fix the issue. Of course it is also a bug in CoqIDE that it crashes when it encounters a corrupted settings file.

[2022-05-27 18:46] ForceBru opened #262 ""Could not read the contents of Desktop" when trying to save my source file on macOS"
## How to reproduce

1. Open CoqIDE.
2. Go to `File -> Save as`.
3. In the new window, attempt to navigate to `Desktop`.
4. Error will be shown: "Error opening '/Users/whatever/Desktop': Operation not permitted".
5. Same for `Documents` and `Downloads`.

![CoqError](https://user-images.githubusercontent.com/8695383/170771604-0c8a7705-b997-4619-900c-cab3a5ec9cd9.png)

However, CoqIDE never requeste

[2022-06-02 15:02] xaviripo commented on #260
Hi, I am having the same issue.

[code]

macOS 12.3 Monterey
CoqIDE 8.15.1
Coq Platform 2022.04, using the installer. Will try compiling from source later.

This happened literally the first time I opened Coq, first time I've ever installed it.

I can't find such folder (either in `/Library` nor in `~/Library`).

[2022-06-02 15:53] xaviripo commented on #260
Update: error persists after uninstalling prepackaged CoqIDE and reinstalling from sources.

[code]

[2022-06-02 16:27] MSoegtropIMC commented on #260
Well possibly that's the issue then. Can you check if you have a coqiderc file somewhere?

And again, please report this at Coq, and not here. Coq Platform is just the installer - if the applications crash I can't do much about it.

[2022-06-02 17:05] xaviripo commented on #260
`-rw-r--r--  1 xaviripo  staff  2825 Jun  2 17:10 /System/Volumes/Data/Users/xaviripo/.config/coq/coqiderc`

Contents:

[code]

Sure, I just wanted to keep all the info in a single thread. I know issues can be moved between repos from the same organization, maybe some admin can do that?

[2022-06-02 18:05] MSoegtropIMC commented on #260
OK, and what happens if you delete this file?

[2022-06-03 14:42] Zimmi48 commented on #260
Yes, I can move the issue to the Coq repo if you wish @MSoegtropIMC. This is preferable to closing / reopening to avoid duplicating information IMHO.

[2022-06-03 14:57] MSoegtropIMC commented on #260
@Zimmi48 : yes, please - it would make sense. How does one actually do this?

@xaviripo : not sure if you saw my above question ...

[2022-06-03 15:20] Zimmi48 commented on #260
There's a transfer issue option, but it only shows to organization admins.

[2022-06-08 17:07] brando90 commented on #219
@Zimmi48 what is wrong with the following method of installation? (note I need to install it in an HPC automatically):
[code]

[2022-06-09 07:20] MSoegtropIMC commented on #219
I am not quite sure why you are installing opam via conda - this looks like an unsupported detour. The recommended method for all systems is:

[code]

(see https://opam.ocaml.org/doc/Install.html).

If this method and/or the system package manager methods recommended on the same page don't work, you should investigate why and fix it and/or report an issue at opam.

It might be that conda works bet

[2022-06-17 11:10] Zimmi48 commented on #168
There is now a GitHub roadmap item (with no ETA) about M1 support: https://github.com/github/roadmap/issues/528

[2022-06-17 11:52] MSoegtropIMC commented on #168
I don't expect this to be realized any time soon - afaik there is no M1 HW which is suitable for large data centers. A web search shows that those who offer M1 servers base this on Mac Mini. For small applications (like a Coq CI) a bunch of MacMinis in a rack is fine, but  I can't quite imagine that Github will do this.

[2022-06-17 15:21] #255 closed

[2022-06-20 10:32] MSoegtropIMC commented on #262
This should already have been fixed in the 2022.04 release from April. Please verify and close.

[2022-06-20 10:34] MSoegtropIMC opened #264 "Improvements to smoke test"
The smoke test kit requires some improvements:

- if coqc is not found in path, try to find an installed version of coqc
- the final cd $HERE needs quotes in case the folder name contains spaces (which is the case if one uses an expanded zip)

[2022-06-20 11:17] ForceBru commented on #262
@MSoegtropIMC, as far as I understand, the 2022.04 release only supports macOS 11+ (I wonder why that is: 2022.01 runs on 10.13+ - what changed in 2022.04? Is my Mac too old to run a proof assistant?), but I'm stuck on 10.15 because my hardware doesn't support Big Sur and above.

Anyway, I'm unable to run 2022.04, unfortunately, so I guess if this should've been fixed in that version, then it prob

[2022-06-20 11:17] #262 closed

[2022-06-21 09:29] palmskog opened #265 "Add itauto to the Coq Platform"
[itauto](https://gitlab.inria.fr/fbesson/itauto) is a reflexive intuitionistic SAT solver parameterised by a theory module. When run inside Coq, the theory module wraps an arbitrary Coq tactic, e.g., the `lia` solver for linear arithmetic (`itauto lia`) or the `congruence` solver for uninterpreted function symbols and constructors (`itauto congruence`). The default invocation of `itauto` uses `aut

[2022-06-21 10:21] MSoegtropIMC commented on #265
Thanks for the suggestion - the tactic looks very useful indeed. I suggest inclusion in the "full" level.

@fajb: can you please state here that you want itauto included in the Coq Platform in accordance with the Coq Platform [charter](https://github.com/coq/platform/blob/main/charter.md)

[2022-06-21 12:40] MSoegtropIMC commented on #265
Thanks - the plan is to add it in the 2022.09 Coq Platform (and its beta releases).

[2022-06-21 18:56] palmskog commented on #265
@MSoegtropIMC I'd recommend using two following files as smoke tests, which are part of each release tarball:
- [`test-suite/arith.v`](https://gitlab.inria.fr/fbesson/itauto/-/blob/master/test-suite/arith.v) (tests the core `itauto` tactic)
- [`test-suite/no_test_lia.v`](https://gitlab.inria.fr/fbesson/itauto/-/blob/master/test-suite/no_test_lia.v) (tests the Nelson-Oppen `smt` tactic)

[2022-06-23 16:32] MSoegtropIMC opened #267 "SmokeTest Windows: exit closes CMD"
The exit command on a coqc call in run-smoke-test.bat should use the /B option so that only the batch file is exited and not CMD closed.

[2022-06-30 14:18] Casteran opened #268 "Issue with python_select while installing the Coq Platform (on macOS with MacPorts)"
We have an issue trying to install Coq Platform 2022.04.1 on macOS 12.3.1 with MacPorts. We get the following error message. It seems like the issue is with MacPorts itself, but we thought you ought to know:

[code]

We get the same issue after running `port selfupdate` and `port upgrade outdated`.

Pierre and Théo (@Zimmi48)

[2022-06-30 15:01] Zimmi48 opened #269 "Not pinning package versions results in non-expert users accidentally changing their version of Coq."
I have two distinct researchers that have told me that they used Coq Platform to install Coq but ended up with an unexpected version of Coq in their Platform switch. This usually happens when users want to install some other package with `opam install` but this package is (directly or indirectly) incompatible with their version of Coq. Users will gladly answer yes to opam's plan without properly r

[2022-06-30 16:51] MSoegtropIMC commented on #268
This works for me after a port selfupdate and upgrade outdated.

What does `port select --summary` say?

You should try to see what `sudo port install adwaita-icon-theme`. If this fails, you need to debug your MacPorts setup.

[2022-07-01 13:33] Casteran commented on #268
Hi,
  Indeed it looks to be a problem with Macports.
Pierre

Name     Selected  Options
====     ========  =======
python   none      base.mp_1642503235 none.mp_1642503235 python25-apple none
python3  none      none

--->  Installing python_select @0.3_9
Error: Failed to install python_select: no destroot found at: /opt/local/var/macports/build/_opt_local_var_macports_sources_rsync.macports.org_re

[2022-07-01 17:34] MSoegtropIMC commented on #268
I see. My (python related) select summary looks like this:
[code]
Maybe you can try to get a similar configuration manually (by installing python3.9 and selecting it).

I btw. find it a bit fishy that the adwaita icon theme messes around with python selection, but I guess it does it only temporarily.

Are you on Apple (M1) silicon?

[2022-07-01 20:03] Casteran commented on #268
No, it’s still an Intel processor

[2022-07-03 12:31] bartlomiejkrolikowski opened #270 "Broken installation with installer"
#### Description of the problem

After installing latest version of Coq I get the following message:

the same with lower version:

running presented commands does not help
there is no directory "gdk-pixbuf-2.0" in "C:\\Coq-Platform\~8.15\~2022.04\\lib"

#### Coq Version
8.15.2 and 8.14.2
(installed with binary installer "Coq-Platform-release-2022.04.1-version_8.15_2022.04-arch-x86_64_signed.exe"

[2022-07-03 16:38] MSoegtropIMC commented on #270
This is a duplicate of (https://github.com/coq/platform/issues/212).

As mentioned there, CoqIDE doesn't use any dynamic pixbuf loaders (it doesn't load JPEG images and the like), so this does not hurt. Of course one could add them to silence the warning.

If you have any other issue with CoqIDE (say that it actually does not work), please create an issue describing the symptoms.

[2022-07-03 16:38] #270 closed

[2022-07-12 14:13] MSoegtropIMC commented on #177
@TheoWinterhalter : I started to prepare the next release (2022.09). The first preview will happen soon.

As far as I can tell there is still no opam package in the Coq Opam repo.

It should be there latest in 4 weeks.

[2022-07-12 16:00] TheoWinterhalter commented on #177
Sorry for this, we have been busy with other things so I don't think we will be ready either for the next release.

Thanks for checking with us!

[2022-07-12 16:14] MSoegtropIMC commented on #178
If you don't have a Max available, I can look into it (I have some experience with sed compatibility ...).

It has btw. been discussed to have a package conf-gsed, which provides gnu sed under name gsed on all platforms. On Linux and cygwin it would be just a symlink in the opam switch bin folder.

[2022-07-12 16:15] MSoegtropIMC commented on #177
Are there issues besides the opam package?

[2022-07-12 16:33] TheoWinterhalter commented on #177
Nothing comes to mind, but we are going to update our dependencies soon so we probably should wait for this.
I hope this doesn't create too much workload overhead for you to wait on us like this.

[2022-07-13 07:51] MSoegtropIMC commented on #177
Fine with me. For the 2022.09 release there is still some time - mid of August would be good but I can also live with end of August. Beyond that it starts to produce substantial extra work, so I might postpone it then.

[2022-07-18 15:45] palmskog opened #271 "Add MathComp Word to the Coq Platform"
[MathComp Word](https://github.com/jasmin-lang/coqword) is a Coq library on machine words based on Mathematical Components. It is a core dependency of [SSProve](https://github.com/SSProve/ssprove) (a [candidate](https://github.com/coq/platform/issues/177) to join the Platform) and other projects such as the [Jasmin compiler](https://github.com/jasmin-lang/jasmin). Machine words are a frequently fo

[2022-07-19 04:44] vbgl commented on #271
I agree that this library be included in the Coq Platform.

[2022-07-19 10:08] palmskog commented on #271
@vbgl @strub thanks! I think this means we can get the library into the next Platform release this fall, but @MSoegtropIMC who is currently unavailable, will have to confirm later.

In the meantime, is it OK with you if I package [release 1.1](https://github.com/jasmin-lang/coqword/releases/tag/v1.1) in the Coq opam archive? From what I can tell, it's compatible with 8.16 and MathComp 1.15, so I w

[2022-07-19 11:36] vbgl commented on #271
It is OK.

[2022-07-19 12:41] palmskog commented on #271
`coq-mathcomp-word.1.1` is now out on the archive and marked as compatible with 8.16 and MC 1.15, per https://github.com/coq/opam-coq-archive/pull/2239

For uniformity with other MathComp-related projects, it may be a good idea to change the logpath to something like `mathcomp.word` rather than the current `CoqWord`.

[2022-08-08 08:43] MSoegtropIMC commented on #271
@strub : I would appreciate if there would be a Readme.md file in (https://github.com/jasmin-lang/coqword), so that people see what this is good for. There is no need to tag it - it is sufficient if it is available in the main branch.

[2022-08-08 09:12] strub commented on #271
Ok. I added a minimal README.

[2022-08-08 13:09] MSoegtropIMC commented on #271
Thanks - it is clear and to the point.

[2022-08-09 11:06] MSoegtropIMC commented on #178
@JasonGross : sorry for the delay - I was moving homes ...

The culprit seems to be the `sed -z` at the end of (coq-bedrock2.0.0.1/etc/bytedump.sh)

I am not sure what this is supposed to do, so I can't suggest a posix/OSX compatible patch.

[2022-08-10 07:54] #265 closed

[2022-08-10 08:45] MSoegtropIMC opened #274 "Tracker issue for 8.16 package tag creation"
This issue exists to track the issues on the package upstream repos to create tags for Coq 8.16.

This ticket is referenced in all package issues.

Discussions should take place in the individual upstream issues.

## ToDo:

### Issue links to non github projects
- [x] https://gitlab.mpi-sws.org/iris/stdpp/-/issues/142
- [x] https://gitlab.inria.fr/coquelicot/coquelicot/-/issues/6
- [x] https://git

[2022-08-10 17:41] MSoegtropIMC commented on #265
@palmskog : with 8.16+rc1 I get an error for arith.v:
[code]

[2022-08-10 17:52] MSoegtropIMC commented on #178
@JasonGross : can you please provide one or two "smoke test" files for each involved package? The smoke test files should mostly test that installed .vo files are accessible under the intended log path, that plugins work and they should run as fast as possible (at most total 10s per package).

[2022-08-10 17:58] palmskog commented on #265
It looks like `test-suite/arith.v` hasn't been updated for a while (almost one year ago). I'll report the error, but this is only a test file. I suggest using [`refl_bool.v`](https://gitlab.inria.fr/fbesson/itauto/-/blob/master/test-suite/refl_bool.v) for testing instead of `arith.v`.

[2022-08-10 17:59] MSoegtropIMC commented on #225
@pi8027 : I have issues with the Coq Platform "smoke test kit" for algebra-tactics for 8.16+rc1:
[code]
Can you please check and either fix it or recommend a different smoke test file?

[2022-08-10 18:12] palmskog commented on #265
Ah, it looks like `refl_bool.v` has the same problem. In this case, for this release, I suggest sticking to just `no_test_lia.v` from above, and we'll get it fixed for the next itauto release.

[2022-08-10 18:41] JasonGross commented on #178
[code]
@andres-erbsen Can you comment on what `sed -z '$ s/\n$//'` is supposed to do, and if there's a way to do it without `sed -z`?

Not sure for coqutil, bedrock2, rupicola (maybe @andres-erbsen or @samuelgruetter will have an idea), but for rewriter:
[code]
(should take about 10s)
and for fiat-crypto, let's do
[code]

[2022-08-10 20:26] MSoegtropIMC commented on #178
I meanwhile figured out that the `sed -z` thing is supposed to remove a \n at the very end of the stream, although this is not entirely safe in case the binary dump actually does contain zeros (in that case it would also remove \n\000 sequences in the middle. One can likely solve this with posix awk (if nobody has a better idea).

[2022-08-30 12:08] RSoegtrop opened #278 "Add Option for extended Coq Platform to the Installer"
While you can install the extended Coq Platform (including SerAPI) via Scripts, the Installer is missing this option.
Would it be possible to add a Option like `extended`, with a Flag which marks this as experimental, to the `Choose Components` stage in the Installation Process via Installer?

[2022-08-30 12:29] Zimmi48 commented on #278
I'm surprised by this request given that the documentation says the following about the extended level:

[2022-08-30 13:01] MSoegtropIMC commented on #278
@Zimmi48 : apparently the documentation is wrong - I just verified this. This was introduced during some CI rework (it depends on the Ci setings here https://github.com/coq/platform/blob/eb6727590394a8432a0e8fc47c21b1d2aa075acd/.github/workflows/windows.yml#L28. It is the same for macOS and Linux.

One could make the packages optional (not selected by default) on Windows.

[2022-08-30 15:19] RSoegtrop commented on #278
Sorry for beeing unclear. I tried to test out SerAPI and there was no way to have it installed by the Installer, simply because the package was not listed in the `Choose Components` list. Even with everything selected, the SerAPI executables where missing. Same with any other Package in the extended Coq Platform.

Adding an Option like:

sounds great.

[2022-09-01 12:38] pi8027 commented on #225
@MSoegtropIMC Please use [field_examples_check.v](https://github.com/math-comp/algebra-tactics/blob/d4de5a2d05ab500017b272d9d37af7a05818d01e/examples/field_examples_check.v) instead. For some reason, this file `Load`s [field_examples.v](https://github.com/math-comp/algebra-tactics/blob/d4de5a2d05ab500017b272d9d37af7a05818d01e/examples/field_examples.v). If you have a problem with `Load` here, I wo

[2022-09-01 12:39] pi8027 commented on #225
[from_sander.v](https://github.com/math-comp/algebra-tactics/blob/d4de5a2d05ab500017b272d9d37af7a05818d01e/examples/from_sander.v) may also work.

[2022-09-02 16:53] enjoysmath opened #279 "How do I download the "full" platform version of Coq?"
I see no option for that, just a list of packages on the page describing the base, ide, and full levels.

[2022-09-02 17:21] Zimmi48 commented on #279
The full version is currently what you get when using any binary installer. If you use the interactive scripts instead, it will ask you which version you want to install.

[2022-09-02 17:26] enjoysmath commented on #279
Thank you, for the response (and quick!).  You can close this now.

I have downloaded and installed.  It works!    Amazing software.   Opposite
of crapware.

I love Coq!

Coq > Lean4, most definitely.

On Fri, Sep 2, 2022 at 10:21 AM Théo Zimmermann ***@***.***>
wrote:

[2022-09-02 17:53] #279 closed

[2022-09-05 10:57] MSoegtropIMC commented on #279
One could consider to group the packages by level to make this clear - the package selection view should support hierarchical structures (trees).

The mean reason I didn't do this up to now is that CompCert must be explicitly selected (that's what I agreed on with Xavier). Selecting it by selecting the "full" level would not be OK.

One option would be to have a separate category "full level - non

[2022-09-05 17:35] Zimmi48 commented on #279
But this is the behavior only on Windows. He is fine with CompCert being silently included in macOS / Snap?

[2022-09-06 07:25] MSoegtropIMC commented on #279
@Zimmi48 : I had a private email discussion with @xavierleroy last year on the inclusion of CompCert in the macOS Installer and we concluded that it would be sufficient to include the ReadMe file at the top level of the DMG with an explicit note on the non free nature of CompCert in a prominent place. Indeed there was no explicit discussion on the inclusion in Snap, but the ReadMe file of the snap

[2022-09-06 07:35] MSoegtropIMC commented on #279
I would summarize the discussions I had with Xavier so far that we should do as much as possible to make the user aware of the license situation, but that he consents that the extent of "as much as possible" varies with platform.

IMO part of this is also pointing out the license situation in the Coq chat to new users especially of VST (which I do from time to time).

[2022-09-06 11:59] GergelyBuday opened #280 "snap CoqIDE does not start on Debian"
I installed Coq using snap. When I try to start CoqIDE through X, I get

[code]

I do this on Debian 11.4. My snap version is

[code]

Theo Zimmermann on Coq Zulipchat suggested me to post this here as it might be a bug. Other X programs work with my MobaXTerm - Debian setup.

Would CoqIDE use a special port other than 22?

[2022-09-06 12:15] MSoegtropIMC commented on #280
I would expect that this is more an issue in CoqIDE itself (that is the issue should be in https://github.com/coq/coq) rather than in the packaging Coq Platform does.

You can check this by installing Coq Platform via the scripts (see https://github.com/coq/platform/blob/main/doc/README_Linux.md#installation-by-compiling-from-sources-using-opam). For CoqIDE you just need level "i" (IDE) which comp

[2022-09-07 11:41] GergelyBuday commented on #280
@Zimmi48

It took a while to compile coq full. Now CoqIDE starts smoothly. So it indeed might be a problem with Coq Platform.

[2022-09-07 11:59] MSoegtropIMC commented on #280
@GergelyBuday : thanks for doing this test. It indeed seems to be a bug in the snap package. I need further help from you to find the root cause of this - usually this does work, so there is something special about your setup or procedures.

What exactly do you mean by "start CoqIDE through X"? Do you just start coqide, or are you doing something special?

[2022-09-07 12:03] GergelyBuday commented on #280
@MSoegtropIMC

$ /snap/bin/coqide
Unable to init server: Could not connect: Connection refused
Fatal error: exception Gtk.Error("GtkMain.init: initialization failed\nml_gtk_init: initialization failed")
[2]+  Kész                   coqide

I did this. I do this on a remote virtual machine, and I expect it to display an X window on my Windows box running MobaXTerm. This works with the opam-compiled

[2022-09-07 12:55] GergelyBuday commented on #280
https://qiita.com/kzee/items/48ebc0cd00db65dc971e

instructed me that it is indeed possible to install coqide on Debian via apt-get install, which is the canonical way.

I don't know if we should put more effort into this.

[2022-09-07 13:10] Zimmi48 commented on #280
Did you have other applications installed with snap work in this way? It could simply be a snap limitation with X forwarding.

[2022-09-07 13:12] GergelyBuday commented on #280
This is the first time I used snap.

[2022-09-07 13:18] MSoegtropIMC commented on #280
@GergelyBuday : regarding Coq Platform (either script or snap) vs apt see my note on Zulip - in short it depends on how much of Coq Platform you need if apt is a feasible method. If you want to follow Software Foundations apt is fine - the more advanced things become the more you might need Coq Platform and/or opam.

A few thoughts:

- I don't know in how far snap is intended to install GUI apps f

[2022-09-07 13:32] GergelyBuday commented on #280
@MSoegtropIMC yes I would like to follow Software Foundations, so the apt versions suffices.

Still, I'm interested in debugging this.

How can I find out after not watching the opam installation process which system packages it installed?

In ~/.opam/logs there are tons of log files, it is not clear which to peek. The first one .info shows

[code]
and the .out file is
[code]
I'm not sure what the

[2022-09-07 14:03] MSoegtropIMC commented on #280
If you didn't keep a shell log, it will be hard to tell.

Maybe it is easier to reproduce your setup.

So if I understand you right, you have a headless debian machine (is this really so?) on which you installed the coq platform snap, log into this machine from a Windows machine with an X windows terminal and start coqide?

Btw.: why don't you run coqide on Windows?

[2022-09-07 14:04] GergelyBuday commented on #280
@MSoegtropIMC @Zimmi48

I tried this with another X Server, on a machine far from workplace firewalls and policies, on my home Linux box.

And I got the same error message.

So something on the remote machine might block this connection.

Naturally, it would be wise to know what does want to connect what.

[2022-09-07 14:09] GergelyBuday commented on #280
@MSoegtropIMC you wrote:

Yes, this was my setup. In my previous message, I used a Linux box with X server with the same result.

I would like to use one, remotely accessible machine that I use from anywhere. I use the same environment, I need to configure anything once.

[2022-09-07 15:12] GergelyBuday commented on #280
Interestingly,

https://wiki.paparazziuav.org/wiki/Installation/Windows10

writes:

Ubuntu on windows 10 is only command line and there is no GUI. So after finishing this step, you likly get an error like this:

Fatal error: exception Gtk.Error(“GtkMain.init: initialization failed\nml_gtk_init: initialization falied”)

-------------

So, Snap CoqIDE does not see an X server around, while Opam and

[2022-09-07 16:15] Zimmi48 commented on #280
I think it is the GTK library.

Please try to install another GUI app with snap to see if it works (possibly a GTK based one).

If it doesn't, the conclusion is that this is a snap limitation. It could be reported to them, but would be out of our reach.

[2022-09-07 17:11] GergelyBuday commented on #280
Upon advice I ran apt coqide and snap coqide with strace, looking at network trace.

snap coqide tries to open AF_UNIX sockets only and fails.

apt coqide tries to open several types of sockets, inculding AF_INET.

I guess snap coqide thinks that the X server should be on localhost for some reasons.

[2022-09-07 17:16] GergelyBuday commented on #280
I installed gimp. It says:
[code]

[2022-09-07 17:50] GergelyBuday commented on #280
Looking at snap documentation, I have found the following:

and

and

[2022-09-08 02:42] dnaumann commented on #217
I'm experiencing this crash, building from source, Coq Platform 2022.04.1 in macOS 12.5.1 on a 2019 Macbook Intel i9.
Fortunately I use emacs for work and only use CoqIDE in teaching.

[2022-09-08 07:34] MSoegtropIMC commented on #280
@GergelyBuday : thanks for digging this out. I guess the snappy-debug tool will only help if run in the specific environments (e.g. it will detect X11 only if X11 is the only available UI interface).

Currently we have: https://github.com/coq/platform/blob/6102a0e5548265790e9790e1802191d6f6240c02/linux/snap/snapcraft.yaml.in#L47.

I can try and see what happens if I add a few more plugs - I guess

[2022-09-08 07:37] MSoegtropIMC commented on #280
Please note that Coq development is highly interactive, so this will only be non annoying if you have a constant low ping. It might be a better choice to transfer the files you work on via git. The Coq environments are (or should be) compatible.

[2022-09-08 07:42] MSoegtropIMC commented on #217
@dnaumann : can you please report in (https://github.com/coq/coq/issues/15486). Typically if something does not work in "compile from sources" mode, it is a bug in Coq / CoqIDE itself and not in Coq Platform. In compile from sources mode Coq Platform is only a very thin layer on top of opam, which aims at reproducing the same environment (with the extra value of opam) as the installers.

The insta

[2022-09-08 09:30] GergelyBuday commented on #280
@MSoegtropIMC @Zimmi48

I asked this on the snapcraft forum:

https://forum.snapcraft.io/t/x11-authentication-problem/31658/7

exporting XAUTHORITY did help in the case of gimp

but it did not help in the case of CoqIDE .

[2022-09-08 10:00] MSoegtropIMC commented on #280
The gimp snapcraft file plugs seem to be here - not much to be seen from that, but it might get the plugs via recursive dependencies. Is gimp GTK-2?

https://github.com/snapcrafters/gimp/blob/7773f9032a60abfe24d551d06ea044a0c7f3d80b/snap/snapcraft.yaml#L64

[2022-09-08 10:23] MSoegtropIMC commented on #280
It suggests that gimp switched to GTK-3 in version 2.99.2. The version in snap seems to be much older. Which gimp version did you test?

[2022-09-08 13:08] GergelyBuday commented on #280
Well, 2.10.30

[2022-09-08 13:16] GergelyBuday commented on #280
@MSoegtropIMC

Is this issue related?

https://github.com/coq/coq/issues/7055

"The GTK libraries CoqIDE depends will be soon removed from Debian. This means CoqIDE will become much harder to build in these distributions."

Then they talk about porting lablgtk to gtk3.

[2022-09-08 13:46] MSoegtropIMC commented on #280
CoqIDE should be GTK3 since a while (> 1 year).

[2022-09-08 13:47] MSoegtropIMC commented on #280
I guess I just need to play with the plugs in the snap file.

@gares (the original author of the Coq Platform snap support): what is your opinion on this?

[2022-09-08 13:48] MSoegtropIMC commented on #280
@GergelyBuday : if I create a beta snap, can you test it?

It might a few days, though.

[2022-09-08 13:52] GergelyBuday commented on #280
@MSoegtropIMC : of course.

[2022-09-08 14:39] GergelyBuday commented on #280
@MSoegtropIMC

My sysadmin, seeing the error messages said that this could be a dependency error, a gtk library might be missing in the snap package.

[2022-09-08 15:31] GergelyBuday commented on #280
@MSoegtropIMC

Someone on IRC used codesearch.debian.org to find out that lablgtk3 has these error messages.

[2022-09-13 16:27] MSoegtropIMC commented on #94
I am closing this. I think I gave reasonable work arounds and there was no feedback for a while.

[2022-09-13 16:27] #94 closed

[2022-09-13 16:29] MSoegtropIMC commented on #177
Since there was no progress and the 2022.09 beta is due I delayed this to 2023.03.

@TheoWinterhalter : if you have something by tomorrow, I might reconsider.

[2022-09-13 16:31] MSoegtropIMC commented on #111
INRIA is working on getting M1 runners (see https://coq.zulipchat.com/#narrow/stream/250632-Coq-Platform-devs-.26-users/topic/Coq.20on.20Apple.20M1.20.28ARM64.29), but it will be too late for 2022.09, so I delay this to 2023.03.

[2022-09-13 17:19] MSoegtropIMC commented on #225
I decided to patch away the comments around the require statements in field_example.v and ring_example.v. I would need some changes to support extracting files for smoke testing but not running them through coqc, but I can easily add awk commands to patch files.

[2022-09-14 07:04] TheoWinterhalter commented on #177
Hi, I think this issue is adding unnecessary workload for you, it might be best to close it and reopen it when we are ready to propose something. Unless @spitters or @haselwarter disagree?

[2022-09-14 08:11] MSoegtropIMC commented on #278
For the time being I fixed this by just setting the extent back to x in CI on all platforms. Not sure if it is worthwhile to do something special for Windows now.

[2022-09-14 08:37] MSoegtropIMC commented on #280
@gares : do you think it makes sense to replace the wrapper with an environment as in the gimp [snap](https://github.com/snapcrafters/gimp/blob/7773f9032a60abfe24d551d06ea044a0c7f3d80b/snap/snapcraft.yaml#L105)?

[2022-09-14 08:54] MSoegtropIMC commented on #269
I now also pin packages in parallel mode (the sequential mode already had a few packages pinned because otherwise some packages get recompiled cause of downgrades later in some picks). I pinned the version of coq in all picks. I think this is the best solution - it makes coq stable, but it leaves enough flexibility to use opam.

[2022-09-14 09:00] MSoegtropIMC commented on #268
@Casteran @Zimmi48 : since a plain `sudo port install adwaita-icon-theme` does not work as reported, I consider this to be an issue in the specific MacPorts installation (I guess the port database is broken). So I will close this issue. If you believe there is anything I can do about this on Coq Platform level, please reopen.

[2022-09-14 09:00] #268 closed

[2022-09-14 09:25] haselwarter commented on #177
Let's leave it open then, at least until we evaluate how to merge our work
on Jasmin back into `main`, upstream compatibility permitting.

On Wed, 14 Sept 2022 at 09:34, MSoegtropIMC ***@***.***>
wrote:

[2022-09-14 10:56] #278 closed

[2022-09-14 10:56] #269 closed

[2022-09-14 10:56] #261 closed

[2022-09-14 10:56] #264 closed

[2022-09-14 10:56] #267 closed

[2022-09-14 10:56] #259 closed

[2022-09-18 12:50] gares commented on #280
I think it is fine, I did not know about the SNAP variable

[2022-09-19 23:00] buggymcbugfix opened #286 "MacOS ARM64 build failing"
Trying to install from source on my M1 mac, I hit the following errors:
[code]
I have tried rerunning the build script, to no avail.

[2022-09-19 23:03] buggymcbugfix commented on #286
Not sure if relevant, but:
`[WARNING] Opam package conf-python-3.9.0.0 depends on the following system package that can no longer be found: python@3`
On my system the executable is called `python3`

[2022-09-20 05:16] buggymcbugfix opened #287 "Twiddle characters in release name"
Is it necessary to have `~` characters in the release name? It adds escaping weirdness where my shell (zsh) will print it with backslashes (presumably to stop it from expanding to $HOME, although it shouldn't do that unless it has whitespace on the left anyway). It definitely has caused some confusion for me, amidst an already confusing process of trying to get Coq to install.

[2022-09-20 07:28] MSoegtropIMC commented on #286
I guess you migrated your data from an Intel Mac to a M1 Mac including a Homebrew or Macports installation with a lot of x86 libraries. Basically this does work because the M1 can emulate x86 code, but you have to decide if you want to compile for M1 or for x86 and stick to this decision. You can't mix and match x86 and ARM code in Homebrew or Macports - it is one or the other.

The Coq Platform s

[2022-09-20 07:40] MSoegtropIMC commented on #287
There were very lengthy discussions and many iterations on the naming and this was the outcome. The naming has to work on many systems and be compatible with version comparison rules of these systems and opam.

So the answer is yes, it has to be like this, unless you come up with a better naming scheme which is compatible with the version comparison rules of all involved operating systems and pack

[2022-09-20 07:40] #287 closed

[2022-09-20 07:54] MSoegtropIMC commented on #286
For your info: the Mac Installer contains x86 binaries - this also works, but is a bit slow. It is fine for student homework but not for serious work.

IRNIA is working on infrastructure to create ARM binary installers.

[2022-09-20 10:12] buggymcbugfix commented on #287
Would none one of `%`,`,`,`!`,`^` work?

[2022-09-20 10:46] MSoegtropIMC commented on #287
% and ^ would for sure create quite a mess on WIndows % is what $ is on Linux and ^ is what \ is on Linux. `,` is not terribly appealing as separator, neither is !. Afair ! also has special meanings in some version comparison schemes.

[2022-09-20 11:03] buggymcbugfix commented on #287
Oh no, that's pretty annoying. As you can tell I know nothing about cross-platform development.

Why is `,` not appealing—do you mean visually, or does it conflict in some way? If this is just a visual thing, then imo it's not too bad:

`~/.opam/__coq-platform.2022.04.1,8.15,2022.04/.opam-switch/build/lablgtk3.3.1.2`
vs
`~/.opam/__coq-platform.2022.04.1~8.15~2022.04/.opam-switch/build/lablgtk3.3.1

[2022-09-20 11:55] MSoegtropIMC commented on #287
Well maybe. But I am not inclined to change it. I had about 10 iterations on the naming and each one had some severe technical issues on some platform - much more severe then an escaped tilde. This naming scheme is stable since a longer while and there were no real issues. It is also hard to foresee what issues people might have.

[2022-09-20 12:00] buggymcbugfix commented on #287
Yeah that makes sense. Thanks for taking the time to go into detail about this nevertheless.

[2022-09-20 12:03] buggymcbugfix commented on #286
D'oh yes, this was it. I completely uninstalled `brew` and all the packages installed with it and reinstalled everything and now it installed fine.

Is there a way to reliably detect from the installation script if someone has x86 dependencies? If not, we could at least put a note into the README.

[2022-09-20 12:06] MSoegtropIMC commented on #286
I should have told you upfront to come up with a script to detect the situation - it has hard to test such a script without being in it ...

But I guess a note in the readme in a prominent place on the situation would already improve things.

[2022-09-20 12:08] buggymcbugfix commented on #286
Oops no, I misread the output, sorry. Scrolling further up, I got some errors (see below).

Maybe this is due to some previous build artifacts sticking around? (I have the line `===== opam switch already exists =====`.)

[code]

[2022-09-20 12:09] MSoegtropIMC commented on #286
I have (Intel Mac):
[code]
I guess you have something different.

The question is how one could ask MacPorts and Homebrew about their view on things.

[2022-09-20 12:09] MSoegtropIMC commented on #286
And yes, I guess you need to recreate the switch (press "d" for delete when you are asked).

[2022-09-20 12:36] buggymcbugfix commented on #286
On brew there is no (easy) way of querying the arch.

[2022-09-20 13:17] buggymcbugfix commented on #286
Right, so deleting the switch did the trick.

The arch for executables and dylibs can be checked with the `file` command:

[code]

Not sure if this is helpful at all.

[2022-09-20 13:17] #286 closed

[2022-09-20 14:27] MSoegtropIMC commented on #286
Yes, it might be a method to install some dependency with opam depext, query the path of the dependency and then use file to check what architecture we are on.

[2022-09-21 07:48] MSoegtropIMC commented on #108
I wanted to follow up on this issue and ask what the final conclusion / request is.

Possible are:
- run the .dev pick in daily CI on selected or all platforms
- create a new .ci pick which takes the versions from Coq CI for those packages shared between Coq CI and Platform on selected or all platforms

In order to avoid confusion with CI status, I would probably run these as separate actions.

[2022-09-21 08:38] Zimmi48 commented on #108
I think that for Coq master, using the .dev picks or the CI picks would be pretty close because both of them are usually tracking the main development branches and are aimed to keep building with Coq dev.

[2022-09-21 08:41] MSoegtropIMC commented on #108
Indeed I had a look at (https://github.com/coq/coq/blob/master/dev/ci/ci-basic-overlay.sh) and it seems to be 100% on master - afair it was not always like this.

So I guess we can drop the idea of a separate CI pick.

The remaining question then is for which platforms such a nightly build should be done. All?

[2022-09-21 09:03] Zimmi48 commented on #108
It was always close to this state. This is not the case when using a `v8.X` branch. (Then reusing the CI pick makes sense.)

If it is easy to generate and make the installers downloadable, then probably yes. That being said, since the nightly builds are not for beginners, and that the experienced users should probably prefer the Platform scripts, providing the .dev pick through the scripts only wo

[2022-09-21 10:21] MSoegtropIMC commented on #108
It is easy to do this, but it costs quite a bit of server time (5..6h per platform) and in the end roughly 100..200 kg CO2 per year (assuming the German energy mix).

I would then suggest that I just reenable the dev build in CI, so that I know when it gets broken.

[2022-09-21 10:25] Zimmi48 commented on #108
Agreed that it's probably not worth. Let's just make sure that we document somewhere that this dev build is available and tested.

[2022-09-21 10:30] MSoegtropIMC commented on #108
Doing this I probably also should put the older builds into a weekly build. They don't break regularly, but they do break (e.g. I recently did a patch to OCamlfind where I used library functions introduced in OCaml 4.13, which broke the older Coq versions since they picked up this patch).

[2022-09-21 13:26] MSoegtropIMC opened #290 "Use opam oin add for stdpp and iris"
As discussed [here](https://github.com/coq/opam-coq-archive/pull/2256), opam pin add should be used for stdpp, iris (and possibly many other packages)

[2022-09-21 14:38] Zimmi48 commented on #290
This is only about .dev packages though.

[2022-09-22 13:03] mattam82 opened #292 "Add MetaCoq to the Coq Platform"
Currently there are 1.0-8.15 and 1.0-8.16 versions in the opam released packages that could be included in the platform. We are trying to release 1.1 versions as well (https://github.com/coq/opam-coq-archive/pull/2323/checks?check_run_id=8494250374). What would be the timeline for getting into the next platform for an 1.1 for 8.15 and 8.16 version?
This should be in the extended/experimental secti

[2022-09-22 13:05] mattam82 commented on #292
Smoke tests could be `examples/metacoq_tour_prelude.v` and `examples//metacoq_tour.v`, the latter depends on the first one.

[2022-09-22 13:43] MSoegtropIMC commented on #292
@mattam82 : the time window for getting into 2022.09 closes about 2 days after I managed to fix all issues from the switch to Ocamlfind in 8.16.0. It is hopefully Friday or Monday. The next release is planned in March 2023.

[2022-09-23 11:26] Zimmi48 opened #293 "Propose to install each Platform level in Windows installer."
It was reported to me (by Pierre Rousselin) that since the Coq Platform Windows installer offers the option to unselect any unnecessary package, it can be considered annoying by the users that want a lightweight installation to unselect a lot of things. Instead, the suggestion would be to propose various levels + a custom one, and it seems to me that the natural thing to do is to reuse the existin

[2022-09-25 09:37] MSoegtropIMC commented on #292
Tracker: (https://github.com/coq/platform/issues/274)

[2022-09-27 13:07] mattam82 commented on #292
MetaCoq 1.1 packages were released for Coq 8.14, 8.15 and 8.16, so if possible we'd like to get those included in the 2022.09 platform.

[2022-09-28 12:06] MSoegtropIMC commented on #252
Duplicate of #267

[2022-09-28 12:06] #252 closed

[2022-09-28 12:06] Zimmi48 commented on #294
I consider this issue closed because the Coq Platform release notes are quite specific about what is included in each release.

[2022-09-28 12:08] MSoegtropIMC opened #295 "Windows: uninstall does not remove entry under "add remove programs""

[2022-09-28 13:48] MSoegtropIMC commented on #212
Since CoqIDE does not need the pixbuf loaders, I just added an empty loader.cache file, which silences the message.

[2022-09-29 10:18] #165 closed

[2022-09-29 10:18] #212 closed

[2022-09-29 12:21] MSoegtropIMC commented on #295
Fixed by 2b4b825e526a4df2c97b0afb5721c52885885f48.

[2022-09-29 12:21] #295 closed

[2022-09-29 12:34] MSoegtropIMC commented on #280
According to my own local tests, this is fixed by ed10c5bde35cfdbe531d6d34bc2426ca99dde6f8. In case there are still issues, please reopen.

[2022-09-29 12:34] #280 closed

[2022-09-29 14:50] MSoegtropIMC commented on #220
I tested `export MACOSX_DEPLOYMENT_TARGET=10.14` (see https://clang.llvm.org/docs/CommandGuide/clang.html) before running the Coq PlatForm script and this does work:
[code]
@Zimmi48 @richfh : so what should I set? 10.13? I don't think it matters much for Coq and CoqIDE.

Btw.: It will be hard to guarantee that this works for everything, so I would say we recommend 11.0, but try to be compatible to

[2022-09-29 15:25] MSoegtropIMC commented on #257
Duplicate of #220.

[2022-09-29 15:25] #257 closed

[2022-09-29 16:08] #251 closed

[2022-09-29 16:08] #254 closed

[2022-09-29 16:09] #220 closed

[2022-09-29 16:09] #253 closed

[2022-09-29 16:59] richfh commented on #220
That would be great for me, assuming it breaks nothing else!

Unclear how many other users there are still on 10.13.
It is the end of the line update for one of my machines – to be replaced by a new machine running macOS 11.

 — Rich

[2022-09-29 17:22] Zimmi48 commented on #220
We have some data from the Coq Community Survey from February 2022: https://coq.discourse.group/t/coq-community-survey-2022-results-part-ii/1746

[2022-09-29 17:27] MSoegtropIMC commented on #249
@andrew-appel : since the same installer script is used for all versions of Coq Platform, I need to detect this. I have two issues with this:

1.) In the VST opam packages, the license points to (https://raw.githubusercontent.com/PrincetonUniversity/VST/master/LICENSE) - it should be the specific tag - I guess I messed this up originally.

2.) It would be easy to detect if I can leave away the lic

[2022-09-29 17:40] MSoegtropIMC commented on #214
This is a duplicate of #254 (or the other way around). It is fixed by giving some detailed instructions in the path selection dialog.

[2022-09-29 17:40] #214 closed

[2022-09-29 17:42] MSoegtropIMC commented on #190
Since there is no feedback and this seems to behave as documented, I am closing this issue.

[2022-09-29 17:42] #190 closed

[2022-09-29 17:43] MSoegtropIMC commented on #178
I delayed this to 2023.3 - it doesn't seem feasible for the 2022.09 release.

[2022-09-29 17:46] MSoegtropIMC commented on #130
@ejgallego : I expect that using `export OPAMWITHTEST=true` works and since we anyway didn't want to expose this to users, I think it is fine as is. If you need me to change something, please reopen.

[2022-09-29 17:46] #130 closed

[2022-09-29 17:47] MSoegtropIMC commented on #98
Fixed the code sharing in 2022.09 - the remaining stuff will go into 2023.3 (hopefully).

[2022-09-29 17:50] MSoegtropIMC commented on #47
I completely reworked the snap file selection - it is now a positive filtering based of `opam show --list-files` and identical with MacOS and Windows.

[2022-09-29 17:50] #47 closed

[2022-09-29 17:53] MSoegtropIMC commented on #45
Actually this only happens if the batch is called from cygwin bash, where back slashes are obviously stripped. It works fine when called from CMD, as https://github.com/coq/platform/blob/d6a1966deb81a71cecbd042cf549939ba5f7f2fc/example_coq_platform_make_windows.bat#L8 shows.

[2022-09-29 17:53] #45 closed

[2022-09-29 17:55] MSoegtropIMC commented on #33
This does not work because OCaml and a lot of other things in .opam are not relocatable either.

[2022-09-29 17:55] #33 closed

[2022-09-29 20:05] #248 closed

[2022-09-29 20:05] #37 closed

[2022-09-29 20:05] #247 closed

[2022-09-29 20:05] #11 closed

[2022-10-01 10:59] MSoegtropIMC commented on #241
Put this back to 2022.09 since it is needed for CI (tends to fail now at the 6h limit).

[2022-10-02 05:38] andres-erbsen commented on #178
Just an update: fiat-crypto and dependencies now successfully [build](https://github.com/mit-plv/fiat-crypto/pull/1399) on [Windows](https://github.com/mit-plv/fiat-crypto/actions/runs/3166231166/jobs/5155806828) and [Mac](https://github.com/mit-plv/fiat-crypto/actions/runs/3166231170/jobs/5155806806) again in our CI. Overall we replaced the binary notations with an Ltac2 printf, replaced sed with

[2022-10-02 07:07] MSoegtropIMC commented on #178
@andres-erbsen : very well - I am anyway delayed cause of the issues introduced by using ocamlfind in 8.16.0, so I will add it and see what happens.

Just for my understanding: fiat-crypto requires bedrock2 via rupicola, and this is not optional. The posts by @JasonGross above are a bit ambiguous in this point. Opam says, fiat-crypto required bedrock2:
[code]
Not sure what the "dkml-base-compiler"

[2022-10-02 11:11] JasonGross commented on #178
@MSoegtropIMC Let me tag a new release of all the relevant packages for the platform

That's right.  The dev package of fiat-crypto requires only coqutil, but the released version requires rupicola and bedrock2.

I'm not sure, what's the dependency path from fiat-crypto to dkml-base-compiler?  We [only list](https://github.com/coq/opam-coq-archive/blob/3009edc9fdef04c00bb43dac0ee14101f7c90a0e/rele

[2022-10-02 11:26] JasonGross commented on #178
@andres-erbsen How much of bedrock2 does fiat-crypto now depend on?  Previously we were only depending on bedrock2_ex, but it seems like now we maybe depend on compiler_noex as well?

[2022-10-02 12:43] JasonGross commented on #178
I've added new tags, and made https://github.com/coq/opam-coq-archive/pull/2337 and https://github.com/coq/opam-coq-archive/pull/2339

I could plausibly make the bedrock2/rupicola dependency optional via [depopts](https://opam.ocaml.org/doc/Manual.html#opamfield-depopts), but I don't think its's worth it because that would complicate the opam file, from
[code]
to something like
[code]

[2022-10-02 14:46] andres-erbsen commented on #178
That is correct, `End2End` demos in fiat-crypto depend on the bedrock2 compiler and on `riscv-coq`. Nothing in fiat-crypto depends on `bedrock2/end2end` or `bedrock2/processor` (or `kami`), but bedrock2 CI does test them on Windows and Mac.

[2022-10-02 15:49] JasonGross commented on #178
I've made (non-dev) packages for coq-bedrock2-compiler and coq-riscv in https://github.com/coq/opam-coq-archive/pull/2337.  I can make packages for the other ones if we want ned2end or processor or kami dependencies.

[2022-10-03 08:49] MSoegtropIMC commented on #178
@JasonGross : thanks for the clarifications and updates! I see if it works.

The `dkml-base-compiler` seems to be an optional dependency of ocaml - it is listed as recursive dependency of ocaml but not installed.

[2022-10-03 13:30] MSoegtropIMC commented on #178
@JasonGross : the prerequisites now compile on Mac and Linux (didn't test Windows as yet), but for fiat-crypto I get:
[code]
I also get:
[code]
This is one a machine with 128GB RAM. Note that native compute is not enabled in Coq Platform (it would not work in the installers due to the lack of ocamlc).

[2022-10-03 13:33] MSoegtropIMC commented on #178
P.S.: what works (and this is a big step forward) is:
[code]

[2022-10-03 17:52] JasonGross commented on #178
@MSoegtropIMC to fix the stack overflow, try `ulimit -s 32768`
as in https://github.com/coq/coq/blob/ae720ae193c957e1882f7c87b1c85b2f4ecde629/dev/ci/ci-fiat_crypto.sh#L13-L24

@andres-erbsen can you help debug the issue with bedrock2?  We are installing with `make "EXTERNAL_DEPENDENCIES=1" "install_bedrock2"` at
https://github.com/coq/opam-coq-archive/blob/6ec231b2c7cf2fe49c74182987e4c5e41c263650/

[2022-10-03 21:04] andres-erbsen commented on #178
https://github.com/mit-plv/bedrock2/blob/master/bedrock2/Makefile#L98 installs without examples, fiat-crypto needs install with examples

[2022-10-04 10:28] MSoegtropIMC commented on #178
@andres-erbsen : so one should use `$(MAKE) -f Makefile.coq install` (wihtout the noex)?

[2022-10-04 11:22] JasonGross commented on #178
I think you need to do `$(MAKE) -f bedrock2/Makefile.coq.noex install && `$(MAKE) -f bedrock2/Makefile.coq.ex install`.  But if https://github.com/mit-plv/bedrock2/pull/281 is merged we can just tag a new release and use that.

[2022-10-04 11:23] MSoegtropIMC commented on #178
Btw.: I need a smoke test file for each of these packages:
[code]

[2022-10-04 11:25] MSoegtropIMC commented on #178
@JasonGross : a new tag would be nice - I can take your change as local patch until it is there.

[2022-10-04 11:32] JasonGross commented on #178
@MSoegtropIMC What do you mean by smoke test file?  Is what I said at https://github.com/coq/platform/issues/178#issuecomment-1211112651 not sufficient for rewriter and fiat-crypto?

[2022-10-04 12:19] MSoegtropIMC commented on #178
@JasonGross : I prefer example files which exist in the projects, but I can take these lines. Also I would like to have one file for each project. But for packages in the extended level it is not a strict requirement (there are currently no exceptions, though).

[2022-10-04 12:26] MSoegtropIMC commented on #178
Well actually there are a few exceptions already ... but still I would like to have smoke test files. The smoke test proved useful quite frequently already.

[2022-10-04 12:37] MSoegtropIMC commented on #178
@JasonGross : an editorial note: the bedrock2 opam package says "A verified compiler targeting RISC-V from this language exists but is not yet on opam." As far as I understand this does exist in opam now.

[2022-10-04 13:18] JasonGross commented on #178
@andres-erbsen as per

I think we're supposed to suggest short scripts.  Are you suggesting just `Require Import` on each of those files as the smoke test?

@MSoegtropIMC https://github.com/coq/opam-coq-archive/pull/2341 should hopefully work.  Once merged, the 0.0.15 version of fiat-crypto should automatically require the correct version of bedrock2.

[2022-10-04 13:21] andres-erbsen commented on #178
Hmm, I thought we wanted existing files. `\_o_/` For Require Import, it would be neat to test GarageDoor.v if that Requires in less than 10s.

[2022-10-04 13:29] JasonGross commented on #178
Ah, I missed that, thanks!

[2022-10-04 13:37] JasonGross commented on #178
Good smoke test files for rewriter: https://github.com/mit-plv/rewriter/blob/master/src/Rewriter/Demo.v (12s) or https://github.com/mit-plv/rewriter/blob/master/src/Rewriter/Rewriter/Examples.v (54s)
Decent smoke test files for fiat-crypto: https://github.com/mit-plv/fiat-crypto/blob/master/src/Demo.v (46s), https://github.com/mit-plv/fiat-crypto/blob/master/src/CLI.v (4s, but doesn't really test

[2022-10-04 14:03] MSoegtropIMC commented on #178
Thanks! I think the 46s are fine for a large project like fiat-crypto. For rewriter I will take the Demo.v. file. For the others I will test the files suggested by Andres.

I can patch the requires on copy (quite a few projects need this).

[2022-10-04 15:35] MSoegtropIMC commented on #178
The suggested tests are all fine (and don't require patching of Require statements).

I will do tests on Linux and Windows and then merge.

Thanks a lot for the support!

[2022-10-05 08:19] MSoegtropIMC commented on #178
There is one more issue: bedrock2 does not compile in 32 bit Windows - as far as I understand some 128 bit C stuff:
[code]
For the time being I will solve this by excluding fiat-crypto in 32 bit Windows, but it might be worthwhile to fix it. For Coq 32 bit Windows is not completely obsolete, because it needs only about half the amount of memory which also makes it faster (better cache utilization)

[2022-10-05 10:32] MSoegtropIMC commented on #271
@strub : there is a new version in opam (https://github.com/coq/opam-coq-archive/pull/2342). Since I am delayed a bit with Coq Platform 2022.09 (but about to release) I wanted to ask if I should update to this version. I need a really quick answer.

[2022-10-05 10:37] strub commented on #271
Yes, you can take the last version.

[2022-10-05 13:03] MSoegtropIMC commented on #271
@strub : thanks for the quick confirmation. I updated to 2.0.

[2022-10-05 13:03] #271 closed

[2022-10-05 16:16] andres-erbsen commented on #178
I created https://github.com/mit-plv/bedrock2/commit/1c9f0ed7acd640747691ed8ee42b11f96395aa91 which I hope will fix the 32-bit issue.

The build-times of these repositories are indeed annoying. I'm sorry about that. Is that timeout a blocker for anything?

I agree that grouping all these packages under the name of any one of them would not be fair, but I'm not sure what a better presentation would

[2022-10-05 16:35] #224 closed

[2022-10-05 16:35] #149 closed

[2022-10-05 16:35] #216 closed

[2022-10-05 17:14] #241 closed

[2022-10-11 08:49] murrayE commented on #94
No, I never figured out how to make this work.

——
Murray Eisenberg                                ***@***.***
Mathematics & Statistics Dept.
Lederle Graduate Research Tower      phone 240 246-7240 (H)
University of Massachusetts
710 North Pleasant Street
Amherst, MA 01003-9305

[2022-10-11 09:12] MSoegtropIMC commented on #94
@murrayE : you did not write what you tried. I offered two solutions:

- install inkscape and other tools with quartz - it should pick it up automatically if you install Coq first after removing things depending on X11. You can make such experiments without changing your existing MacPorts by temporarily renaming the MacPorts folders `/opt/local` and `/Applications/MacPorts` and installing a fresh

[2022-10-13 07:42] ckeller opened #302 "Add SMTCoq to Coq Platform"
Hi
This starts a thread to integrate SMTCoq to Coq Platform. Ideally, it includes:
- the [SMTCoq plugin](https://smtcoq.github.io) (already available for Coq master)
- the SAT and SMT solvers used by SMTCoq: [ZChaff](https://github.com/smtcoq/smtcoq/blob/coq-8.13/INSTALL.md#zchaff), [veriT](https://github.com/smtcoq/smtcoq/blob/coq-8.13/INSTALL.md#verit) and [CVC4](https://github.com/smtcoq/smtcoq

[2022-10-13 08:42] MSoegtropIMC commented on #302
Thanks for the request!

I looked at CVC4 in the past and found it quite hard to make it an opam package mostly because the build scripts download sub components from the internet which the opam sandbox would not allow. So one would have to rework the high level build infrastructure of CVC4. Do you have contacts to the CVC4 maintainers? I am open to do this (create CVC4 opam packages), but I can't

[2022-10-13 08:46] ckeller commented on #302
I updated the order of the provers in my initial message so that it matches the priorities.
I am in contact with the CVC4/5 developers so I can ask them. Can you point me to some documentation where I can understand how to build opam packages for non OCaml code?
A port for CVC5 (as well as the last version of veriT) is under progress but it is a lot of effort. I can't promise it will be done on ti

[2022-10-13 08:47] Zimmi48 commented on #302
A note about CVC4 is that last I checked, SMTCoq depended on a specific version of CVC4 which is not the latest contrary (I think) to CoqHammer. Is it still the case, or has a port to the latest CVC4 version already happened?

[2022-10-13 08:49] ckeller commented on #302
No, it is not the latest.

[2022-10-13 09:33] MSoegtropIMC commented on #302
@ckeller : I am not aware of any documentation for creating non OCaml packages in opam, but then besides the fact that an opam switch comes with an OCaml compiler, there is nothing special about OCaml in opam. The opam files download and patch code, call autoconf and make and the like and it is pretty much the same for OCaml and C++ code - one just leaves away the dependency on OCaml and adds a de

[2022-10-13 09:36] Zimmi48 commented on #302
@MSoegtropIMC Something to note is that CVC4 is no longer developed, so there won't be any new release (besides the one that SMTCoq currently use, and the current latest one).

[2022-10-13 09:39] MSoegtropIMC commented on #302
@Zimmi48 : good point. Still my notes are valid as soon as SMTCoq switches to CVC5 - unless they have a more meta build tool friendly build system.

Possibly one can also discuss with the CVC4/CVC5 team the requirements of meta build tools and implement support for this in their scripts.

[2022-10-13 09:40] MSoegtropIMC commented on #302
I guess it is best if I start with CVC4 - as you say there shouldn't be an issue then - and have a look at the status quo of the CVC5 build, so that we can start a discussion with the CVC5 team.

[2022-10-13 11:59] MSoegtropIMC opened #303 "macOS MacPorts: z3 fails to build if MacPorts Python3 was not installed before"
On a brand new Mac with only plain MacPorts (but no ports) installed, building z3 failed when compiling python code.

The issue is that:
- the macOS builtin python3 puts compiled files under /Users/me/Library which is blocked by the opam sandbox
- z3 make compiles python files
- opam requests MacPorts to install python3 and the MacPorts python3 is installed when opam compiles z3, but the shell has

[2022-10-13 12:04] ckeller commented on #302
Thanks a lot!
As @Zimmi48 said, CVC4 is not maintained so the next changes will happen when SMTCoq have support for CVC5, which will not be the case in the next months.
If I can be of any help for the opam support and maintenance, of course I will.

[2022-10-13 12:06] ckeller commented on #302
Just to make things clear: for veriT and CVC4, the supported versions are exactly those which are linked in my first message.

[2022-10-13 12:15] MSoegtropIMC commented on #302
OK, I will look at your instructions first.

Two more questions:

1.) The issue I had was with the `./contrib/get-antlr-3.4` step in (https://github.com/CVC4/CVC4-archived/blob/master/INSTALL.md).

Your instructions are:
[code]
Does the 1.6 version not require ANTLR?

2.) The CVC archive only has a 1.8 tag - see (https://github.com/CVC4/CVC4-archived). Where can I get the 1.6 code?

[2022-10-13 12:33] Zimmi48 commented on #302
You can get it from https://cvc4.cs.stanford.edu/downloads/builds/src/cvc4-1.6.tar.gz (that's what nixpkgs uses for SMTCoq's CVC4).

[2022-10-13 12:38] ckeller commented on #302
You can algo get it from here: https://github.com/cvc5/cvc5/releases/tag/1.6 (even if it is called cvc5). I just tried and neither of them compiler on my laptop... I am inverstigating further. (I have not compiled it for a while since I use the binaries which always run out of the box.)
@MSoegtropIMC Maybe SMTCoq's docker file can help you: https://github.com/smtcoq/smtcoq/blob/coq-master/ci/smtco

[2022-10-13 13:18] MSoegtropIMC commented on #302
@Zimmi48 @ckeller : thanks for the pointers - I see how far I get.

The docker image seems to use a binary for CVC4: https://github.com/smtcoq/smtcoq/blob/9e097b8c4037813ca5d09e34d5de6a947edbc45a/ci/smtcoq.docker#L53

[2022-10-13 13:19] ckeller commented on #302
Yes - as I said, I have not compiled CVC4 for a while since I use the binaries which have always run out of the box.

[2022-10-14 08:32] MSoegtropIMC commented on #302
A small update: CVC4 1.6 requires the C bindings for ANTLR3. As far as I can tell ANTLR3 is written in Java, so compiling it with opam would require a java compiler - not out of the question but, well ...

As far as I can tell all by Coq Platform supported platforms do have a system package for the ANTLR3 java part, but MacPorts does not have a package for the ANTLR3 C library. Mac Homebrew and Cy

[2022-10-14 08:47] MSoegtropIMC commented on #302
@ckeller @Zimmi48 : what is your opinion on creating opam packages for Java and Maven? If that is it then, it might be OK IMHO - if we need a lot of Java packages then, it gets tricky, but the system level dependencies of the system ANTLR3 packages don't look like that this would be the case. Of course I can't tell what is compiled in.

[2022-10-14 09:44] ckeller commented on #302
@MSoegtropIMC :-( sorry about that... Would relying on the binaries be an option?
Anyway, I can contact CVC4 developers about ANTLR3.

[2022-10-14 10:08] MSoegtropIMC commented on #302
No problem - solving system issues in bringing nice research to a broader audience is what Coq Platform is about.

I don't think that using a binary CVC4 or ANTLR is an option. Both are not that frequently used that one can rely on that all supported systems will have binary packages of the desired version - I understand that you are not flexible in that. A binary ANTLR might be an option in case

[2022-10-14 18:01] MSoegtropIMC commented on #302
Waiting on some builds I played with ANTLR3. Some results:

- the java part is reasonably easy to build - on Mac ARM MacPorts:
[code]
- I couldn't figure out as yet if the C part requires the java part, but I don't think so. As far as my (very limited) understanding goes the Java part is required to generate parsers but to execute parsers only the C part is required. I guess that CVC4 has the gene

[2022-10-14 18:13] MSoegtropIMC commented on #302
A small update: about half of the files added in the Debian fork are from GNU libtool and easy to install via system packages, but somehow the configure file didn't pick up an installed libtool - need to figure out why. The other files are FSF public domain licensed files, so no issue putting them into opam. I will try tomorrow. Pickung up a system libtool should be an easy patch.

[2022-10-16 09:05] JasonGross commented on #178
Please update to coq-fiat-crypto.0.0.17 once https://github.com/coq/opam-coq-archive/pull/2353 is merged

[2022-10-16 13:51] Blaisorblade opened #305 "Coq Platform 2023.03: switch to OCaml 4.14.0"
OCaml 4.14 fixes some issues with debugging and seems to not have any known regression. https://github.com/coq/platform/pull/285 worked on Linux and Mac, but was too late for Linux.

[2022-10-19 12:02] MSoegtropIMC commented on #302
@ckeller : doing some tests with z3 I found that it seems to support the SMTLIB2 commands `(set-option :produce-proofs true)` and `(get-proof)` and it produces something which makes sense at first glance. I tested this with `Z3 version 4.8.17 - 64 bit` and `Z3 version 4.11.0 - 64 bit`. I wonder if you looked into this - since we already have Z3 for CoqHammer it might be a sensible addition to the

[2022-10-20 09:43] ckeller commented on #302
@MSoegtropIMC Z3 produces proofs with a very low level of details. We have shown for many years that it is much faster to use veriT because proof reconstruction is easier, and Isabelle is currently switching to veriT instead of Z3.

[2022-10-20 10:27] MSoegtropIMC commented on #302
@ckeller : I see - interesting! Just out of curiosity: do you have examples which show what nature the lack of detail in a Z3 proof is? From looking at trivial examples  one can still easily follow pencil and paper and guessing what the underlying logic constructs mean this is not obvious.

[2022-10-20 13:25] ckeller commented on #302
Sure, here are some references:
- In their ITP'10 paper entitled "Fast LCF-Style Proof Reconstruction for Z3", Sascha Böhme and Tjark Weber already pointed out some limitations of Z3 proofs.
- In our CPP'11 paper "A Modular Integration of SAT/SMT Solvers to Coq through Proof Witnesses", we showed that verit+Coq is more efficient than Z3+Isabelle/HOL even if Z3 is more efficient than veriT; there a

[2022-10-23 10:48] palmskog opened #307 "Add MMaps to Coq Platform"
[MMaps](https://github.com/coq-community/coq-mmaps) is a library that contains several implementations of finite maps over arbitrary ordered types using Coq functors. This is an updated version of Coq Stdlib's FMaps. It is meant to complement the MSet library in Stdlib. One noteworthy advantage over the legacy FMaps is that MMaps has a fast red-black tree based finite map.

MMaps is currently main

[2022-11-07 15:00] projetmbc opened #309 "Mac OS - Intel - IDE Bug"
On a macOS Big Sur Version 11.71 Intel, the COQ IDE crashes when I try to edit the preferences.

[2022-11-07 15:07] MSoegtropIMC commented on #309
See (https://github.com/coq/coq/issues/15486, https://github.com/coq/platform/issues/217).

The crash should be fixed in the 8.16~beta1 pick in the latest preview release (https://github.com/coq/platform/releases/tag/2022.09.0) but in this release preferences are actually not saved.

I am closing this as duplicate

[2022-11-07 15:07] #309 closed

[2022-11-07 15:07] Zimmi48 commented on #309
@projetmbc This is a known bug if you are using any version less recent than the latest [beta 2022.09 Coq Platform release](https://github.com/coq/platform/releases/tag/2022.09.0). Please let us know if you still have issues with this release.

[2022-11-07 15:42] projetmbc commented on #309
It seems to work.

Sorry for the noise...

[2022-11-07 16:11] Zimmi48 commented on #309
no worries :)

[2022-11-17 15:45] gares opened #312 "[wish,wip] wacoq build"
This issue is to declare my intent and gather early feeback.

For the [MC2022 school](https://mathcomp-schools.gitlabpages.inria.fr/2022-12-school/school) I'm preparing both platform installers and an online deployment based on wacoq. I'm amazed I could run Elpi, Hierarchy-Builder, Mathcomp (2.0+alpha), Algebra Tactics at a reasonable (for teaching purposes) speed in the browser with no stack over

[2022-11-17 16:26] ejgallego commented on #312
It makes indeed sense to have a way to turn an opam package into a wacoq package; have you looked at the jscoq/wacoq SDK ? Shachar gave a presentation at the Coq workshop which should be in youtube.

Main problem with opam is that it is really a PITA to instrument or to develop properly with it; in many scenarios you want to have a build workspace where you can rebuild jscoq + some addons in a ful

[2022-11-17 16:50] gares commented on #312
I see the approach based on dune and composition the main problem, the extra speed is not worth the complexity IMO.
It is not the role of the addons system to decide how packages are built or installed.

I want to package addons from the opam root, where they are installed in a standard way, not from a git checkout of a submodule which clones an upstream repo, superposes it with dune files, etc...

[2022-11-17 16:53] gares commented on #312
It may be because I'm on the 8.15 branch, but wacoq needs to "upload" the coq worker, and the wa binary needs to be addressed somehow. Unfortunately it seems to only like absolute filesystem paths or absolute urls, while one would just want to use relative urls. I don't understand why browsers refuse to `fetch` from relative urls.

[2022-11-17 18:24] ejgallego commented on #312
Oh I see, I have little idea about the restriction on relative paths (Shachar is the expert for this), but basically in the config options we used to pass the path, which I agree is a bit of a pain.

Tho, it is not hard to have the reference .html code look at the url of the page and set the path to jsCoq initalization properly.

On the topic of how wacoq handles paths, indeed I think the 8.16 / 8